{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block title %}Checkout{% endblock title %}

{% block conteudo %}

<div class="container mt-4">
    <h1 class="font-weight-bold">Checkout</h1>
    {% if cart %}
    <div class="row">
        <div class="col-lg-6">
            <!--<form action="." method="post" id="orderForm">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input id="email" name="email" required="true" type="text" value="{{user.email}}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="docNumber">CPF</label>
                    <input id="docNumber" required="true" name="doc_number" data-checkout="docNumber" type="text"
                        value="{{user.usuario.cpfcnpj}}" class="form-control" />
                </div>
            </form>-->
            {% crispy form %}
        </div>
        <div class="col-lg-6">
            {% include "order_summary.html" with items=cart total_price=cart.get_total_price %}
        </div>
    </div>
    {% else %}
    <p>{% trans "Seu carrinho está vazio." %}</p>
    {% endif %}
    
    <!-- 
     -->
    <script src="https://unpkg.com/imask@6.0.7/dist/imask.js"></script>
    <script src="{% static 'core/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'core/js/jquery.mask.js' %}"></script>
    <script src="{% static 'core/js/order-form.js' %}"></script>

    {% block scripts %}
        <script>  
            $(document).ready(function(){
                $('#id_postal_code').mask('00000-000');
            });
        </script>
    {% endblock %}
</div>
{% endblock %}