{% extends "account/email/base_message.html" %}
{% load i18n %}
{% block content %}
{% with total_price=order.get_total_price %}
{% autoescape off %}

<tr>
    <td align="center" style="font-size:0px;padding:10px 25px;padding-bottom:0;word-break:break-word;">
        <div style="font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:22px;text-align:center;color:#555;">

            <p><b>{% trans "Olá" %} {{us.first_name}}, {% trans "você gostaria da avaliar a antiga instituição do seu pet?" %}</b></p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light" style="text-align: left;">{% trans "Nome" %}: {{pet.nome}}</li>
                {% if pet.descricao %}
                    <li class="list-group-item bg-light" style="text-align: left;">{% trans "Descrição" %}: {{pet.descricao}}</li>
                {% endif %}
            </ul>
            <a href="https://salvepets.online/avaliacao-instituicao/{{ pet.fk_id_instituicao_id }}" class="btn btn-primary w-100 mt-auto">{% trans "Clique aqui para realizar a avaliação." %}</a>
            <!--{% include "order_summary.html" with items=order.items.all total_price=total_price %}
            <p style="font-size: smaller;">*Em caso de parcelamento, juros podem ser cobrados pelo seu banco.</p>-->
        </div>
    </td>
</tr>
{% endautoescape %}
{% endwith %}
{% endblock %}