{% extends "account/email/base_message.html" %}
{% load i18n %}
{% block content %}
{% with total_price=order.get_total_price %}
{% autoescape off %}
<tr>
    <td align="center" style="font-size:0px;padding:10px 25px;padding-bottom:0;word-break:break-word;">
        <div style="font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:22px;text-align:center;color:#555;">

            <p><b>{% trans "Sou o(a)" %} {{user.first_name}} {% trans "e gostaria de adotar o seguinte Pet" %}:</b></p>

            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light" style="text-align: left;">{% trans "Nome" %}: {{pet.nome}}</li>
                <li class="list-group-item bg-light" style="text-align: left;">{% trans "Descrição" %}: {{pet.descricao}}</li>
                <li class="list-group-item bg-light" style="text-align: left;">Pet Id: {{pet.id}}</li>
                <li class="list-group-item bg-light" style="text-align: left;"><a href="https://salvepets.online/pet-informacao-instituicao/{{pet.id}}">Acesse aqui o Pet. </a></li>
            </ul>

            <p><b>{% trans "Meus dados de contato" %}:</b></p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light" style="text-align: left;">{% trans "Telefone" %}: {{usuario.telefone}}</li>
                <li class="list-group-item bg-light" style="text-align: left;">E-mail: {{user.email}}</li>
            </ul>

            <p><b>{% trans "Obrigado!" %}</b></p>
            <!--{% include "order_summary.html" with items=order.items.all total_price=total_price %}
            <p style="font-size: smaller;">*Em caso de parcelamento, juros podem ser cobrados pelo seu banco.</p>-->
        </div>
    </td>
</tr>
{% endautoescape %}
{% endwith %}
{% endblock %}