{% extends "account/email/base_message.html" %}
{% load i18n %}
{% block content %}
{% with total_price=order.get_total_price %}
{% autoescape off %}

<tr>
    <td align="center" style="font-size:0px;padding:10px 25px;padding-bottom:0;word-break:break-word;">
        <div style="font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:22px;text-align:center;color:#555;">

            <p><b>Olá {{us.first_name}}, você gostaria da avaliar a adoção do seu Pet?</b></p>

            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light" style="text-align: left;">Nome: {{pet.nome}}</li>
                <li class="list-group-item bg-light" style="text-align: left;">Descrição: {{pet.descricao}}</li>
            </ul>
                    <!--http://127.0.0.1:8000/avaliacao-instituicao/{{ pet.id }}-->
            <a href="http://127.0.0.1:8000/avaliacao-instituicao/{{ pet.fk_id_instituicao_id }}" class="btn btn-primary w-100 mt-auto">Clique aqui para realizar a avaliação!</a>
            <!--{% include "order_summary.html" with items=order.items.all total_price=total_price %}
            <p style="font-size: smaller;">*Em caso de parcelamento, juros podem ser cobrados pelo seu banco.</p>-->
        </div>
    </td>
</tr>
{% endautoescape %}
{% endwith %}
{% endblock %}