<!--{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
-->
{% block conteudo %}

    <!-- Página de Login-->
    <div class="container mt-4">
      
        <ul class="nav">
            <li class="nav-item">
                <a class="btn btn-outline-dark" href="/lista-pet-usuario/">Meus pets cadastrados</a>
                
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-dark" href="/cadastro-pet/">Cadastrar</a>
            
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-dark" href="/lista-pet-perdido/">Pets perdidos</a>                
                
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-dark" href="/lista-pet-encontrado/">Pets encontrados</a>
                
            </li>
        </ul>
    </div>

    <h1 class="text-center">Cadastrar um Pet</h1>

    <form enctype="multipart/form-data" action="submit", method="POST">{% csrf_token %}
        <input type="number" class="form-control" name="pet-id" value="{{ pet.id }}" hidden>
        <div class="container">
            <div class="form-group">
                <label>Nome:</label>
                <input class="form-control" name="nome" type="text" value="{{ pet.nome }}">
            </div>
            <div class="form-group">
                <label>Descrição:</label>
                <textarea class="form-control" rows="3" name="descricao" type="text">{{ pet.descricao }}</textarea>
            </div>
            <div class="form-group">
                <label>Observações:</label>
                <textarea class="form-control" rows="3" name="observacoes" type="text"  >{{ pet.observacoes }}</textarea>
            </div>
            <div class="form-group">
                <label>Comprimento(cm):</label>
                <input class="form-control" name="comprimento" type="number" value="{{ pet.comprimento }}">
            </div>
            <div class="form-group">
                <label>Largura(cm):</label>
                <input class="form-control" name="largura" type="number" value="{{ pet.largura }}">
            </div>
            <div class="form-group">
                <label>Data Nascimento:</label>
                <input class="form-control" name="dataNascimento" type="date" value="{{ pet.dataNascimento }}">
            </div>
            <div class="form-group">
                <label>Raça:</label>
                <input class="form-control" name="raca" type="text" value="{{ pet.raca }}">
            </div>
            <div class="form-group">
                <label>Cor:</label>
                <input class="form-control" name="cor" type="text"  value="{{ pet.cor }}">
            </div>
            <div class="form-group">
                <label>Altura(cm):</label>
                <input class="form-control" name="altura" type="number" value="{{ pet.altura }}">
            </div>
            <div class="form-group">
                <label>Peso(Kg):</label>
                <input class="form-control" name="peso" type="number" value="{{ pet.peso }}">
            </div>
            <div class="form-group">
                <label>Situação:</label>
                <input class="form-control" name="encontradoPerdido" type="text" value="{{ pet.situacao }}">
            </div>
            <div class="form-group">
                <p><a href="/media/{{ pet.foto }}" target="_blank">Foto atual</a></p>
                <input type="file" class="form-control-file border" name="foto" accept="image/*">
            </div>

            <button type="submit" class="btn btn-outline-dark">
                {% if pet %}
                    Alterar
                {% else %}
                    Cadastrar
                {% endif %}
            </button>
        </div>
    </form>
 <!-- 
  <form method='POST'>{% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Save' />
</form>
-->
{% endblock %}