{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}

    <!-- Página de Login-->
    <div class="container mt-4">
      
        <ul class="nav">
            <li class="nav-item">
                <a class="btn btn-outline-dark" href="/lista-pet-usuario/">Meus pets cadastrados</a>
                
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-dark" href="/cadastro-pet/">Cadastrar</a>
            
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-dark" href="/lista-pet-perdido/">Pets perdidos</a>                
                
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-dark" href="/lista-pet-encontrado/">Pets encontrados</a>
                
            </li>
        </ul>
    </div>

    <h1 class="text-center">Cadastrar um Pet</h1>

    <form enctype="multipart/form-data" action="submit", method="POST">{% csrf_token %}
        <input type="number" class="form-control" name="pet-id" value="{{ pet.id }}" hidden>
        <div class="container">
            <div class="form-group">
                <label>Nome:</label>
                <input required="required" class="form-control" name="nome" type="text" value="{{ pet.nome }}">
            </div>
            <div class="form-group">
                <label>Descrição:</label>
                <textarea class="form-control" rows="3" name="descricao" type="text">{{ pet.descricao }}</textarea>
            </div>
            <div class="form-group">
                <label>Observações:</label>
                <textarea class="form-control" rows="3" name="observacoes" type="text"  >{{ pet.observacoes }}</textarea>
            </div>
            
            <!--<div class="form-group">
                <label>Comprimento(cm):</label>
                <input required="required" class="form-control" name="comprimento" type="number" value="{{ pet.comprimento }}">
            </div>
            <div class="form-group">
                <label>Largura(cm):</label>
                <input required="required" class="form-control" name="largura" type="number" value="{{ pet.largura }}">
            </div>-->



            <div class="form-group">
                <label>Data Nascimento:</label>
                <input required="required" class="form-control" name="dataNascimento" type="date" value="{{ pet.dataNascimento }}">
            </div>
            <div class="form-group">
                <label>Raça:</label>
                <input required="required" class="form-control" name="raca" type="text" value="{{ pet.raca }}">
            </div>
            <div class="form-group">
                <label>Cor:</label>
                <input required="required" class="form-control" name="cor" type="text"  value="{{ pet.cor }}">
            </div>
            <div class="form-group">
                <label>Altura(cm):</label>
                <input required="required" class="form-control" name="altura" type="number" value="{{ pet.altura }}">
            </div>
            <div class="form-group">
                <label>Peso(Kg):</label>
                <input required="required" class="form-control" name="peso" type="number" value="{{ pet.peso }}">
            </div>
            <div class="form-group">
                <label>Situação:</label>
                <select class="form-control mb-4" name="encontradoPerdido" value="{{ pet.situacao }}">
                    <option value="encontrado">Encontrado</option>
                    <option value="perdido">Perdido</option>
                  </select>
            </div>
            <div class="form-group">
                {% if pet.id != null %}
                    <p><a   href="/media/{{ pet.foto }}" target="_blank">Foto atual</a></p>
                {% else %}
                    <p><label>Escolha uma imagem:</label></p>
                {% endif %}
                <input required="required" type="file" class="form-control-file border" name="foto" accept="image/*" >
            </div>

















            <div class="form-group">
                <fieldset class="module aligned ">
                    <div class="form-row field-user">

                    <div class="form-row field-coordenada">

                        <div>

                            <label class="required" for="id_coordenada">Coordenada:</label>

                            <style>
                                #id_coordenada-map {
                                    width: min(calc(100vw - 30px), 720px);
                                    height: 400px;
                                }

                                #id_coordenada {
                                    display: none;
                                }


                                /* Fixes for Django base.css */
                                .module .leaflet-draw ul {
                                    margin-left: 0px;
                                    padding-left: 0px;
                                }

                                .module .leaflet-draw ul li {
                                    list-style-type: none;
                                }
                            </style>

                            <script>

                                var geodjango_id_coordenada = {};
                                geodjango_id_coordenada.fieldid = 'id_coordenada';
                                geodjango_id_coordenada.modifiable = true;
                                geodjango_id_coordenada.geom_type = 'Point';
                                geodjango_id_coordenada.srid = 4326;



                                L.drawLocal.draw.toolbar.actions.title = "Cancel drawing";
                                L.drawLocal.draw.toolbar.actions.text = "Cancel";
                                L.drawLocal.draw.toolbar.undo.title = "Delete last point drawn";
                                L.drawLocal.draw.toolbar.undo.text = "Delete last point";
                                L.drawLocal.draw.toolbar.buttons.polyline = "Draw a polyline";
                                L.drawLocal.draw.toolbar.buttons.polygon = "Draw a polygon";
                                L.drawLocal.draw.toolbar.buttons.rectangle = "Draw a rectangle";
                                L.drawLocal.draw.toolbar.buttons.circle = "Draw a circle";
                                L.drawLocal.draw.toolbar.buttons.marker = "Draw a marker";
                                L.drawLocal.draw.handlers.circle.tooltip.start = "Click and drag to draw circle.";
                                L.drawLocal.draw.handlers.marker.tooltip.start = "Click map to place marker.";
                                L.drawLocal.draw.handlers.polygon.tooltip.start = "Click to start drawing shape.";
                                L.drawLocal.draw.handlers.polygon.tooltip.cont = "Click to continue drawing shape.";
                                L.drawLocal.draw.handlers.polygon.tooltip.end = "Click first point to close this shape.";
                                L.drawLocal.draw.handlers.polyline.error = "<strong>Error:</strong> shape edges cannot cross!";
                                L.drawLocal.draw.handlers.polyline.tooltip.start = "Click to start drawing line.";
                                L.drawLocal.draw.handlers.polyline.tooltip.cont = "Click to continue drawing line.";
                                L.drawLocal.draw.handlers.polyline.tooltip.end = "Click last point to finish line.";
                                L.drawLocal.draw.handlers.rectangle.tooltip.start = "Click and drag to draw rectangle.";
                                L.drawLocal.draw.handlers.simpleshape.tooltip.end = "Release mouse to finish drawing.";

                                L.drawLocal.edit.toolbar.actions.save.title = "Save changes.";
                                L.drawLocal.edit.toolbar.actions.save.text = "Salvar";
                                L.drawLocal.edit.toolbar.actions.cancel.title = "Cancel editing, discards all changes.";
                                L.drawLocal.edit.toolbar.actions.cancel.text = "Cancel";
                                L.drawLocal.edit.toolbar.buttons.edit = "Edit layers";
                                L.drawLocal.edit.toolbar.buttons.editDisabled = "No layers to edit.";
                                L.drawLocal.edit.toolbar.buttons.remove = "Delete layers";
                                L.drawLocal.edit.toolbar.buttons.removeDisabled = "No layers to delete.";
                                L.drawLocal.edit.handlers.edit.tooltip.text = "Drag handles, or marker to edit feature.";
                                L.drawLocal.edit.handlers.edit.tooltip.subtext = "Click cancel to undo changes.";
                                L.drawLocal.edit.handlers.remove.tooltip.text = "Click on a feature to remove";

                                L.Control.ResetView.TITLE = "Reset view";
                                L.Control.ResetView.ICON = "url(/static/leaflet/images/reset-view.png)";


                                function id_coordenada_map_callback(map, options) {
                                    geodjango_id_coordenada.store_class = L.FieldStore;
                                    geodjango_id_coordenada.precision = options.djoptions.precision;
                                    (new L.GeometryField(geodjango_id_coordenada)).addTo(map);

                                };


                            </script>



                            <div id="id_coordenada-div-map">



                                <div id="id_coordenada-map" class="leaflet-container-default"></div>
                                <script>
                                    (function () {

                                        function loadmap() {
                                            var djoptions = { "srid": null, "extent": [[-90, -180], [90, 180]], "fitextent": true, "center": null, "zoom": null, "precision": 6, "minzoom": null, "maxzoom": null, "layers": [["OSM", "//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", "\u00a9 <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors"]], "overlays": [], "attributionprefix": null, "scale": "metric", "minimap": false, "resetview": true, "tilesextent": [] },
                                                options = {
                                                    djoptions: djoptions, initfunc: loadmap,
                                                    globals: false, callback: id_coordenada_map_callback
                                                },
                                                map = L.Map.djangoMap('id_coordenada-map', options);

                                        }
                                        var loadevents = ["load"];
                                        if (loadevents.length === 0) loadmap();
                                        else if (window.addEventListener) for (var i = 0; i < loadevents.length; i++) window.addEventListener(loadevents[i], loadmap, false);
                                        else if (window.jQuery) jQuery(window).on(loadevents.join(' '), loadmap);

                                    })();
                                </script>


                            </div>


                            <textarea id="id_coordenada" class="required django-leaflet-raw-textarea"
                                cols="150" rows="10"
                                name="coordenada">"{{ pet.coordenada }}"</textarea> <!--&quot;type&quot;: &quot;Point&quot;, &quot;coordinates&quot;: [ -46.648001, -23.575882 ]-->



                        </div>

                    </div>

                </fieldset>

                <script id="django-admin-form-add-constants" src="/static/admin/js/change_form.js"
                    async>
                    </script>

                <script id="django-admin-prepopulated-fields-constants"
                    src="/static/admin/js/prepopulate_init.js" data-prepopulated-fields="[]">
                    </script>

            </div>















            
            <button type="submit" class="btn btn-outline-dark mt-4">
                {% if pet %}
                    Alterar
                {% else %}
                    Cadastrar
                {% endif %}
            </button>
        </div>
    </form>
 <!-- 
  <form method='POST'>{% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Save' />
</form>
-->
{% endblock %}