{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block conteudo %}
<!-- Site do template para o FAQ -->
<!--https://www.bootdey.com/snippets/view/Frequently-Asked-Questions-section#html-->

<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h1><span>{% trans "Perguntas Frequentes" %}</span></h1>
                    <p>{% trans "Procure aqui a resposta para a sua dúvida sobre adoção, encontro de pets perdidos, patrocínio de pets e muito mais!" %}</p>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">
                    <div class="card border-0 wow fadeInUp w-100" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingOne">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{% trans "Quem pode realizar uma adoção?" %}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>{% trans "Qualquer pessoa, plenamente capaz, maior de 18 anos, mediante assinatura do contrato de adoção." %}</p>
                            </div>
                        </div>
                    </div>


                    <div class="card border-0 wow fadeInUp w-100" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTwo">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">{% trans "Os animais que vão para adoção são castrados?" %}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>{% trans "Sim. Os animais que participam do processo de adoção são castrados, vacinados de acordo com a idade, vermifugados, microchipados e recebem medicamentos para controle de pulgas e carrapatos, de acordo com a legislação vigente." %}</p>
                            </div>
                        </div>
                    </div>

                    <div class="card border-0 wow fadeInUp w-100" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">{% trans "Os animais são vacinados?" %}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>{% trans "Sim. São vacinados de acordo com sua idade e condições." %}</p>
                            </div>
                        </div>
                    </div>
                    <!--*************-->
                    <div class="card border-0 wow fadeInUp w-100" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingFour">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">{% trans "Quais são os documentos necessários para uma adoção?" %}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>{% trans "RG, CPF e comprovante de endereço recente. É necessário apresentar RG original também no dia da retirada do pet." %}</p>
                                <p><b>{% trans "OBS: a equipe Salve Pets somente se responsabiliza por estabelecer a conexão entre o adotante e a instituição de adoção de pets, não exigindo portanto, nenhum documento no processo de manifestar interesse de adoção de um pet." %}</b></p>
                            </div>
                        </div>
                    </div>

                    <div class="card border-0 wow fadeInUp w-100" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingFive">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">{% trans "Fui aprovado, posso retirar o pet no mesmo dia?" %}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseFive" aria-labelledby="headingFive" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>{% trans "Sim. Após a aprovação da instituição para a adoção do pet, o adotante tem até 24h para a retirada do animal na instituição." %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp w-100" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingSix">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">{% trans "Os animais para adoção são animais sociáveis?" %}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseSix" aria-labelledby="headingSix" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>{% trans "Todos os animais passam por uma avaliação, mas cada pet tem a sua particularidade/personalidade. Esses animais são oriundos da rua e podem estar assustados, porém, enquanto estão no espaço da instituição de adoção, os pets realizam diversas atividades físicas, passam por técnicas de comportamento, estimulação cognitiva e sensorial (percepção, memória e raciocínio), entre outras atividades. Importante seguir as diretrizes repassadas pela instituição, bem como as orientações repassadas para apoiar o processo de adaptação do pet durante o período de pós-adoção." %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp w-100" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingSeven">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">{% trans "Posso sair com o meu cão no colo?" %}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseSeven" aria-labelledby="headingSeven" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>{% trans "Sim, caso o cão já tenha tomado todas as vacinas. Para maior segurança, é indicado que seja adquirida uma coleira e uma guia para a saída do pet para a rua. No caso de filhotes que ainda não possuem todas as vacinas, orientamos o uso de caixa de transporte." %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp w-100" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingEight">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">{% trans "Posso sair com o meu gato no colo?" %}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseEight" aria-labelledby="headingEight" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>{% trans "Pensando no bem-estar e segurança do seu gato, é necessário levar uma caixa de transporte no dia da retirada." %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp w-100" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingNine">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">{% trans "Tem alguma taxa para a adoção?" %}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseNine" aria-labelledby="headingNine" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>{% trans "Algumas instituições solicitam uma colaboração para custear o gasto que tiveram com o animal adotado, a fim de conseguir realizar novos resgates. Esta cobrança fica a critério de cada instituição e o valor varia conforme definição de cada instituição parceira. O valor é estipulado por cada instituição e só será cobrado mediante aprovação do adotante na entrevista e posterior assinatura e aceite no contrato de adoção. Reforçamos que esta cobrança é paga diretamente à instituição parceira no ato da adoção, sem qualquer envolvimento da equipe Salve Pets, ou seja, a Salve Pets não interfere ou recebe parte alguma destes valores." %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp w-100" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTen">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">{% trans "Como posso encontrar meu pet perdido?" %}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseTen" aria-labelledby="headingTen" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>{% trans "Para te ajudar na busca do seu pet perdido, realizamos, por meio de um processo automatizado, correspondências entre pets cadastrados como perdidos ou encontrados, considerando a localização de perda ou encontro, espécie, raça, porte e entre outras variáveis. Para isso, você deve cadastrar seu pet perdido no serviço" %} <a href="/cadastro-pet">{% trans "Cadastrar Pet Perdido ou Encontrado" %}</a>, {% trans "fornecendo o máximo de detalhes possível. Quando um pet for cadastrado como <b>encontrado</b> e a localização, espécie e porte forem similares ao do seu pet perdido, você receberá um e-mail avisando sobre a possibilidade de encontro do seu pet." %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp w-100" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingEleven">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">{% trans "Como posso cadastrar um pet encontrado?" %}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseEleven" aria-labelledby="headingEleven" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>{% trans "Ao encontrar um pet perdido, para facilitar o encontro de seu tutor, cadastre-o no serviço" %} <a href="/cadastro-pet">{% trans "Cadastrar Pet Perdido ou Encontrado" %}</a> {% trans "indicando no campo <b>Situação do pet</b> o status de <b>Encontrado</b>. Após o cadastro, todos os usuários com pets perdidos cadastrados, similares ao pet encontrado cadastrado por você, receberão um e-mail avisando da possibilidade de encontro do pet perdido por eles." %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp w-100" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTwelve">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="true" aria-controls="collapseTwelve">{% trans "Como receber doações pelo PagSeguro?" %}<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseTwelve" aria-labelledby="headingTwelve" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>{% trans "As doações são feitas diretamente às instituições cadastradas. Todas elas são processadas pelo PagSeguro, plataforma na qual a instituição deve possuir uma conta cadastrada." %}</p>
                                <p>{% trans "Para conectar doações com nossa plataforma, o administrador da instituição deve gerar links de pagamentos pelo PagSeguro e inserí-los na plataforma Salve Pets, além de atribuir um valor para cada doação." %}</p>
                                <p>{% trans "Todo esse procedimento e as informações inseridas na plataforma Salve Pets provenientes de uma doação é de responsabilidade integral da instituição." %}</p>
                                <p>{% trans "Há três formas de receber doações pela plataforma Salve Pets: doação simples de valor único, doação de valor único por categoria dos custos do pet, e patrocínio recorrente." %}<p>
                                <p>{% trans "As duas opções de valor único têm o mesmo procedimento, enquanto o patrocínio recorrente é feito de forma um pouco diferente. Abaixo estão listados os passos necessários para receber doações pela plataforma Salve Pets:" %}</p>
                                <h4 class="mb-3">{% trans "Doação por valor único" %}</h4>
                                    <ul>
                                        <li class="mb-3"><a href="https://cadastro.pagseguro.uol.com.br/" target="_blank">{% trans "Crie uma conta no PagSeguro" %}</a> {% trans "seguindo os procedimentos da plataforma. Aguarde pela sua aprovação." %}</li>
                                        <li class="mb-3">{% trans "Após aprovado e com sua conta conectada, vá para a página de 'link de pagamento', clicando" %} <a href="https://minhaconta.pagseguro.uol.com.br/venda-online/link-de-pagamento" target="_blank">{% trans "aqui." %}</a></li>
                                        <li class="mb-3">{% trans "Clique em 'Criar novo link de pagamento' e insira o termo que desejar em 'Produto ou serviço'. Em seguida, insira o valor de doação desejado. Lembre-se que esse valor deve ser igual ao valor que será registrado na plataforma Salve Pets, e caso você esteja criando um link para uma doação simples de valor único, o valor deve ser 20, 50 ou 100 reais. Clique em 'Continuar'." %}</li>
                                        <li class="mb-3">{% trans "Uma página com campos opcionais irá aparecer. Você pode preenchê-los ou não, e em seguida clique em 'Criar Link de Pagamento'." %}</li>
                                        <li class="mb-3">{% trans "Vá para 'Compartilhe seu Link de Pagamento' e clique em 'Copiar link'. Esse link deverá ser inserido na plataforma Salve Pets nos campos correspondentes." %}</li>
                                        <li class="mb-3">{% trans "Para conectar o link de pagamento com a plataforma Salve Pets, vá até sua página de" %} '<a href="/doacao/cadastro-info-pagamento/" target="_blank">{% trans "Dados do PagSeguro" %}</a>' {% trans "e insira o link gerado no campo correspondente." %}</li>
                                        <li class="mb-3">{% trans "Nos campos de valores fixos (R$ 20, R$ 50 e R$ 100), crie um link para cada opção. Nos campos de valor por categoria, você pode criar um link para cada categoria ou apenas um para todas elas." %}</li>
                                        {% trans "Lembrando que você deve inserir o valor da doação igual ao valor configurado no link de pagamento do PagSeguro." %} </li>
                                    </ul>
                                <h4 class="mb-3">{% trans "Doação por valor recorrente" %}</h4>
                                <ul>
                                    <li class="mb-3"><a href="https://cadastro.pagseguro.uol.com.br/" target="_blank">{% trans "Crie uma conta no PagSeguro" %}</a> {% trans "seguindo os procedimentos da plataforma. Aguarde pela sua aprovação." %}</li>
                                    <li class="mb-3">{% trans "Após aprovado e com sua conta conectada, vá para a página de 'Planos de Pagamentos Recorrentes', clicando" %} <a href="https://pagseguro.uol.com.br/pagamento-recorrente/planos/lista.jhtml" target="_blank">{% trans "aqui" %}.</a></li>
                                    <li class="mb-3">{% trans "Clique em 'Novo Plano' e insira o termo que desejar em 'Nome do plano'. Em seguida, insira o valor de patrocínio recorrente desejado. Lembre-se que esse valor deve ser igual ao valor que será registrado na plataforma Salve Pets." %}</li>
                                    <li class="mb-3">{% trans "Selecione a frequência das cobranças desejada. Em seguida, escolha a opção 'Adesões sem expiração', e preencha o restante dos campos da forma que desejar. Clique em 'Continuar'." %}</li>
                                    <li class="mb-3">{% trans "Confirme os dados e clique em 'Confirmar'. Copie o 'código do plano' gerado." %}</li>
                                    <li class="mb-3">{% trans "Para conectar o link de pagamento com a plataforma Salve Pets, vá até sua página de 'Dados do PagSeguro' e insira o código do plano gerado na opção de pagamento recorrente, assim como o valor do patrocínio." %}</li>
                                </ul>
                                <h4 class="mb-3">{% trans "Recebendo e confirmando doações" %}</h4>
                                <p>{% trans "Após a realização dos procedimentos anteriores, você já poderá receber doações. Para que elas sejam confirmadas, você deve marcá-las como pagas na página de" %} <a href="/doacao/lista/" target="_blank">{% trans "Patrocínios recebidos" %}</a></p>
                                <p>{% trans "Caso um usuário realize uma doação, você receberá um e-mail do PagSeguro com a confirmação da transação. Depois que receber esse e-mail, vá até a lista de patrocínios recebidos, encontre a doação confirmada e marque a caixinha de 'pago'." %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">{% trans "Não encontrou suas respostas?" %}</p>
                    <a href="mailto:atendimentosalvepets@gmail.com">{% trans "Fale conosco" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    
    .section_padding_130 {
        padding-top: 130px;
        padding-bottom: 40vh;
    }
    .faq_area {
        position: relative;
        z-index: 1;
    }

    .faq-accordian {
        position: relative;
        z-index: 1;
    }
    .faq-accordian .card {
        position: relative;
        z-index: 1;
        margin-bottom: 1.5rem;
    }
    .faq-accordian .card:last-child {
        margin-bottom: 0;
    }
    .faq-accordian .card .card-header {
        background-color: #ffffff;
        padding: 0;
        border-bottom-color: #ebebeb;
    }
    .faq-accordian .card .card-header h6 {
        cursor: pointer;
        padding: 1.75rem 2rem;
        color: #3f43fd;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .faq-accordian .card .card-header h6 span {
        font-size: 1.5rem;
    }
    .faq-accordian .card .card-header h6.collapsed {
        color: #070a57;
    }
    .faq-accordian .card .card-header h6.collapsed span {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    .faq-accordian .card .card-body {
        padding: 1.75rem 2rem;
    }
    .faq-accordian .card .card-body p:last-child {
        margin-bottom: 0;
    }

    @media only screen and (max-width: 575px) {
        .support-button p {
            font-size: 14px;
        }
    }

    .support-button i {
        color: #3f43fd;
        font-size: 1.25rem;
    }
    @media only screen and (max-width: 575px) {
        .support-button i {
            font-size: 1rem;
        }
    }

    .support-button a {
        text-transform: capitalize;
        color: #2ecc71;
    }
    @media only screen and (max-width: 575px) {
        .support-button a {
            font-size: 13px;
        }
    }
</style>
{% endblock %}