{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block conteudo %}
<!-- Site do template para o FAQ -->
<!--https://www.bootdey.com/snippets/view/Frequently-Asked-Questions-section#html-->

<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3><span>Perguntas Frequentes</span></h3>
                    <p>Procure aqui a resposta para a sua dúvida sobre adoção, encontro de pets perdidos, patrocínio de pets e muito mais!</p>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">
                    <div class="card border-0 wow fadeInUp w-100" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingOne">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Quem pode realizar uma adoção?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Qualquer pessoa, plenamente capaz, maior de 18 anos, mediante assinatura do contrato de adoção.</p>
                            </div>
                        </div>
                    </div>


                    <div class="card border-0 wow fadeInUp w-100" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTwo">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Os animais que vão para adoção são castrados?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Sim. Os animais que participam do processo de adoção são castrados, vacinados de acordo com a idade, vermifugados, microchipados e recebem medicamentos para controle de pulgas e carrapatos, de acordo com a legislação vigente.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp w-100" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Os animais são vacinados?<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>Sim. São vacinados de acordo com sua idade e condições.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">Não encontrou suas respostas?</p>
                    <a href="mailto:atendimentosalvepets@gmail.com"> Fale conosco</a>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    
    .section_padding_130 {
        padding-top: 130px;
        padding-bottom: 130px;
    }
    .faq_area {
        position: relative;
        z-index: 1;
    }

    .faq-accordian {
        position: relative;
        z-index: 1;
    }
    .faq-accordian .card {
        position: relative;
        z-index: 1;
        margin-bottom: 1.5rem;
    }
    .faq-accordian .card:last-child {
        margin-bottom: 0;
    }
    .faq-accordian .card .card-header {
        background-color: #ffffff;
        padding: 0;
        border-bottom-color: #ebebeb;
    }
    .faq-accordian .card .card-header h6 {
        cursor: pointer;
        padding: 1.75rem 2rem;
        color: #3f43fd;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .faq-accordian .card .card-header h6 span {
        font-size: 1.5rem;
    }
    .faq-accordian .card .card-header h6.collapsed {
        color: #070a57;
    }
    .faq-accordian .card .card-header h6.collapsed span {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    .faq-accordian .card .card-body {
        padding: 1.75rem 2rem;
    }
    .faq-accordian .card .card-body p:last-child {
        margin-bottom: 0;
    }

    @media only screen and (max-width: 575px) {
        .support-button p {
            font-size: 14px;
        }
    }

    .support-button i {
        color: #3f43fd;
        font-size: 1.25rem;
    }
    @media only screen and (max-width: 575px) {
        .support-button i {
            font-size: 1rem;
        }
    }

    .support-button a {
        text-transform: capitalize;
        color: #2ecc71;
    }
    @media only screen and (max-width: 575px) {
        .support-button a {
            font-size: 13px;
        }
    }
</style>
{% endblock %}