{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block conteudo %}

<section class="py-5">
    <div class="container px-2 px-lg-5 my-2">
        <form action="{% url 'set_language' %}" method="POST">{% csrf_token %}
            <input type="hidden" name="next" value="{{ redirect_to }}">
            <select name="language" id="">
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Go">
        </form>
    </div>
</section>
<!-- Product section-->
<section class="py-5" id="pet_perdido">
    <div class="container px-2 px-lg-5 my-2">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-4"><img class="card-img-top mb-5 mb-md-0" src="{% static 'core/assets/img/cachorro1.png' %}" alt="..." /></div>
            <div class="col-md-4">
                <h3 class="display-10 fw-bolder">{% trans "Pet perdido! Ajude-nos a encontrar" %}</h3>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">$45.00</span>
                    <span>$40.00</span> -->
                </div>
                <p class="medium">{% trans "Este cãozinho está desaparecido, ajude-nos a encontrar e fazer a felicidade dos seu donos!" %}</p>
                <div class="d-flex">
                    <!--<input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        
                        {% trans "Avise-nos" %}
                    </button>-->
                    <a class="btn btn-outline-dark" href="/lista-pet-perdido/">Pets perdidos</a> 
                </div>
            </div>
            <div class="col-md-4" >
                <a class="navbar-brand" href="https://www.petz.com.br/"><img class="card-img-top mb-5 mb-md-0" src="{% static 'core/assets/img/petz.png' %}" alt="..." /></a>
            </div>
        </div>
    </div>
</section>
<section class="py-5" id="adote_pet">
    <div class="container px-2 px-lg-5 my-2">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-4"><img class="card-img-top mb-5 mb-md-0" src="{% static 'core/assets/img/cachorro1.png' %}" alt="..." /></div>
            <div class="col-md-4">
                
                <h3 class="display-10 fw-bolder">{% trans "Adote este pet!" %}</h3>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">$45.00</span>
                    <span>$40.00</span> -->
                </div>
                <p class="medium">{% trans "Adote este lindo cãozinho, ele foi encontrado abandonado e está a procura de um novo lar, ele é amável e fofinho!" %}</p>
                <div class="d-flex">
                    <!--<input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />-->
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <!--<i class="bi-cart-fill me-1"></i>-->
                        {% trans "Adote" %}<!--Add to cart -->
                    </button>
                </div>
            </div>
            <div class="col-md-4" >
                <a class="navbar-brand" href="https://www.petz.com.br/"><img class="card-img-top mb-5 mb-md-0" src="{% static 'core/assets/img/petz.png' %}" alt="..." /></a>
                
            </div>
        </div>
    </div>
</section>

<section class="py-5" id="pet_encontrado">
    <div class="container px-2 px-lg-5 my-2">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-4"><img class="card-img-top mb-5 mb-md-0" src="{% static 'core/assets/img/cachorro1.png' %}" alt="..." /></div>
            <div class="col-md-4">
                
                <h3 class="display-10 fw-bolder">{% trans "Pet encontrado, ajude-nos a localizar o seu dono!" %}</h3>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">$45.00</span>
                    <span>$40.00</span> -->
                </div>
                <p class="medium">{% trans "Anuncie um pet localizado na sua região" %}</p>
                <div class="d-flex">
                    <!--<input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        {% trans "Anuncie" %}
                    </button>-->

                    <a class="btn btn-outline-dark" href="/cadastro-pet/">Cadastrar pet encontrado</a>
                </div>
            </div>
            <div class="col-md-4" >
                <a class="navbar-brand" href="https://www.petz.com.br/"><img class="card-img-top mb-5 mb-md-0" src="{% static 'core/assets/img/petz.png' %}" alt="..." /></a>
                
            </div>
        </div>
    </div>
</section>

<section class="py-5" id="manter_pet">
    <div class="container px-2 px-lg-5 my-2">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-4"><img class="card-img-top mb-5 mb-md-0" src="{% static 'core/assets/img/cachorro1.png' %}" alt="..." /></div>
            <div class="col-md-4">
                
                <h3 class="display-10 fw-bolder">{% trans "Ajude a manter este lindo pet!" %}</h3>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">$45.00</span>
                    <span>$40.00</span> -->
                </div>
                <p class="medium">{% trans "Doe para uma instituição que cuida de animais abandonados" %}</p>
                <div class="d-flex">
                    <!--<input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />-->
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <!--<i class="bi-cart-fill me-1"></i>-->
                        {% trans "Doar para uma instituição!" %}<!--Add to cart -->
                    </button>
                </div>
            </div>
            <div class="col-md-4" >
                <a class="navbar-brand" href="https://www.petz.com.br/"><img class="card-img-top mb-5 mb-md-0" src="{% static 'core/assets/img/petz.png' %}" alt="..." /></a>
                
            </div>
        </div>
    </div>
</section>

<section class="py-5" id="chatbot">
    <div class="container px-2 px-lg-5 my-2">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-4"><img class="card-img-top mb-5 mb-md-0" src="{% static 'core/assets/img/cachorro1.png' %}" alt="..." /></div>
            <div class="col-md-4">
                
                <h3 class="display-10 fw-bolder">{% trans "Possui dúvidas? Pergunte para nosso chatbot!" %}</h3>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">$45.00</span>
                    <span>$40.00</span> -->
                </div>
                <p class="medium">{% trans "Inicie uma conversa on-line com o nosso chatbot." %}</p>
                <div class="d-flex">
                    <!--<input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />-->
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <!--<i class="bi-cart-fill me-1"></i>-->
                        {% trans "Chamar chatbot" %}<!--Add to cart -->
                    </button>
                </div>
            </div>
            <div class="col-md-4" >
                <a class="navbar-brand" href="https://www.petz.com.br/"><img class="card-img-top mb-5 mb-md-0" src="{% static 'core/assets/img/petz.png' %}" alt="..." /></a>
                
            </div>
        </div>
    </div>
</section>

{% endblock conteudo %}