{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block conteudo %}
<!-- Essa foi uma tentativa de inserir um botão "completar cadastro" - mas deveria ser "temporario", apenas para
quem não tivesse o cadastro preenchido / não tivesse CPF (regra proxy que eu pensei). Não consegui implementar a regra porque
(aparentemente) não passamos um user quando chamamos index.html.
Faltou também aprimorar o CSS - cheguei a duplicar os componentes page-section e btn originais criando versões "temporary",
mas algumas coisas não estavam funcionando então suspendi.

{% if user.is_authenticated %}
<section class="page-section-temporary py-0" id="temporaria">
    <div class="container">
        <div class="row gx-4 gx-lg-5 align-items-center m-0">
            <form class="pe-lg-6 p-1 text-md-end">
                <a href="/completar-cadastro" type="button" class="btn btn-lg btn-primary2 rounded-pill bg-gradient order-0" type="submit">{% trans "Completar cadastro!" %}</a>
            </form>
        </div>
    </div>
</section>
{% endif %}
-->

<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{% blocktrans %}Nossos serviços{% endblocktrans %}</h2>
            <h3 class="section-subheading text-muted">{% blocktrans %}Confira as funcionalidades do projeto Salve Pets.{% endblocktrans %}</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <a href="/lista-pet-perdido/" class="teste">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x" style="color:#fbba00"></i>
                    <i class="fas fa-paw fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <h4 class="my-3">{% blocktrans %}Pets perdidos{% endblocktrans %}</h4>
            <p class="text-muted">{% blocktrans %}Ajude-nos a encontrar pets desaparecidos e assim trazer felicidade aos seus donos.{% endblocktrans %}</p>
        </div>
        <div class="col-md-4">
                <a href="/em-construcao/">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x" style="color:#fbba00"></i>
                        <i class="fas fa-dog fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="my-3">{% blocktrans %}Adotar pets{% endblocktrans %}</h4>
                <p class="text-muted">{% blocktrans %}Adote lindos e amáveis pets que foram encontrados abandonados e estão a procura de um novo lar.{% endblocktrans %}</p>
            </div>
            <div class="col-md-4">
                <a href="/cadastro-pet/">
                    <span class="fa-stack fa-4x">
                        <i id="dog" class="fas fa-circle fa-stack-2x" style="color:#fbba00"></i>
                        <i class="fas fa-bullhorn fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="my-3">{% blocktrans %}Anunciar pet{% endblocktrans %}</h4>
                <p class="text-muted">{% blocktrans %}Anuncie o local e as características do pet encontrado ou perdido por você para ajudar nas buscas ao dono.{% endblocktrans %}</p>
            </div>
            <div class="col-md-4">
                <a href="/em-construcao/">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x" style="color:#fbba00"></i>
                        <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="my-3">{% blocktrans %}Patrocinar pets{% endblocktrans %}</h4>
                <p class="text-muted">{% blocktrans %}Doe para uma instituição que cuida de animais abandonados.{% endblocktrans %}</p>
            </div>
            <div class="col-md-4">
                <a href="/em-construcao/">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x" style="color:#fbba00"></i>
                        <i class="fas fa-store fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="my-3">{% blocktrans %}Loja Salve Pets{% endblocktrans %}</h4>
                <p class="text-muted">{% blocktrans %}Ajude-nos a financiar esse projeto comprando em nossa loja oficial!{% endblocktrans %}</p>
            </div> 
            <div class="col-md-4">
                <a href="/em-construcao/">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x" style="color:#fbba00"></i>
                        <i class="fas fa-robot fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <h4 class="my-3">{% blocktrans %}Possui dúvidas? Pergunte para nosso chatbot!{% endblocktrans %}</h4>
                <p class="text-muted">{% blocktrans %}Inicie uma conversa on-line com o nosso chatbot.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</section>

<section class="py-5" id="anuncios">
    <div class="container px-2 px-lg-5 my-2">
        <div class="row gx-4 gx-lg-5 align-items-center m-0">
            <div class="col-md-4" >
                <a class="navbar-brand" href="https://www.petz.com.br/" target="_blank"><img class="card-img-top mb-5 mb-md-0" src="{% static 'core/assets/img/petz.png' %}" alt="..." /></a>
                
            </div>
            <div class="col-md-4" >
                <a class="navbar-brand" href="https://www.petz.com.br/" target="_blank"><img class="card-img-top mb-5 mb-md-0" src="{% static 'core/assets/img/petz.png' %}" alt="..." /></a>
                
            </div>
            <div class="col-md-4" >
                <a class="navbar-brand" href="https://www.petz.com.br/" target="_blank"><img class="card-img-top mb-5 mb-md-0" src="{% static 'core/assets/img/petz.png' %}" alt="..." /></a>
                
            </div>
        </div>
    </div>
</section>

{% endblock conteudo %}