{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


{% block conteudo %}
<style>
.polaroid{
    width:350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
.main_image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    overflow: hidden
}


</style>

    <!-- Página de Login-->
    <div class="container mt-4">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link" style="color:#495057" href="/lista-pet-usuario/">{% trans "Meus pets" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color:#495057" href="/cadastro-pet/">{% trans "Cadastrar pet" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color:#495057" href="/lista-pet-perdido/">{% trans "Pets perdidos" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color:#495057" href="/lista-pet-encontrado/">{% trans "Pets encontrados" %}</a>
        </li>
    </ul>
</div>
        <div class="container">
    <div class="container mt-5 mb-5">
    <p><h3>{% trans "Detalhes do pet" %}</h3></p>
    <div class="card">
    
        <div class="row g-0">
            <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image"> <img src="{{pet.foto.url}}" id="main_product_image" width="350"> </div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>{{pet.nome}}</h3> <span class="heart"><i class='bx bx-heart'></i></span>
                    </div>
                    <div class="mt-2 pr-3 content">
                        <p>{{pet.descricao}}</p>
                    </div>
                    <div class="mt-2"> <span class="fw-light">Características</span>
                    <table class="table">
                        <tr>
                            <th scope="row">Data de localização/perda:</th>
                            <td>{{pet.dataPerdaEncontro|default_if_none:"-"}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Espécie:</th>
                            <td>{{pet.especie|default_if_none:"-"}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Raça:</th>
                            <td>{{pet.raca|default_if_none:"-"}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Sexo:</th>
                            <td>{{pet.sexo|default_if_none:"-"}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Cor predominante:</th>
                            <td>{{pet.cor|default_if_none:"-"}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Porte:</th>
                            <td>{{pet.porte|default_if_none:"-"}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Última localização:</th>
                            <td>(desenvolver)</td>
                        </tr>
                    </table>
                     </div>
                    <div class="mt-4"> <span class="fw-light">Contato</span>
                    <table class="table">
                        <tr>
                            <th scope="row">E-mail:</th>
                            <td>{{creator.email|default_if_none:"-"}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Telefone:</th>
                            <td>{{creator.usuario.telefone|default_if_none:"-"}}</td>
                        </tr>
                    </table>
                    </div>

                {% if request.user == pet.user %}
                <a href="/deletar-pet/{{ pet.id }}" >   
                    <button type="button" class="btn btn-danger">{% trans "Excluir" %}</button>
                </a>
                <a href="/cadastro-pet/?id={{ pet.id }}">
                    <button type="button" class="btn btn-outline-dark">{% trans "Alterar" %}</button>
                </a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
<script type='text/javascript'>function changeImage(element) {

var main_prodcut_image = document.getElementById('main_product_image');
main_prodcut_image.src = element.src;


}</script>



            {% block scripts %}
                <script>  
                    $(document).ready(function(){
                        $('#telefone').mask('(00) 0 0000-0000');
                    });
                </script>
            {% endblock %}

        </div>
    </div>

    
    
            
        
    

{% endblock conteudo %}