{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


{% block conteudo %}
<style>
.polaroid{
    width:350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
  }
</style>

    <!-- Página de Login-->
    <div class="container mt-4">
        <!--<h2>{% trans "Cadastrar Pet" %}</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <section class="py-2">
            </section>
            <button class="btn btn-outline-dark" type="submit"> 
            {% trans "Cadastrar Pet" %}
            </button>
        </form>-->
        <ul class="nav">
            <li class="nav-item">
                <a class="btn btn-outline-dark" href="/lista-pet-usuario/">{% trans "Meus pets cadastrados" %}</a>
                <!--<button class="btn btn-outline-dark" type="submit"> {% trans "Meus pets" %} </button>-->
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-dark" href="/cadastro-pet/">{% trans "Cadastrar Pet" %}</a>
                <!--<button class="btn btn-outline-dark" type="submit"> {% trans "Cadastrar um pet" %} </button>-->
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-dark" href="/lista-pet-perdido/">{% trans "Pets perdidos" %}</a>                
                <!--<button class="btn btn-outline-dark" type="submit"> {% trans "Pets perdidos" %} </button>-->
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-dark" href="/lista-pet-encontrado/">{% trans "Pets encontrados" %}</a>
                <!--<button class="btn btn-outline-dark" type="submit"> {% trans "Pets encontrados" %} </button>-->
            </li>
        </ul>
    </div>
        <section class="py-2">
        </section>

    
    <h1 class="text-center">{% trans "Detalhes do Pet" %}</h1>

        <div class="container mp-4 mb-4">
        <div class="row">
            <div class="col-sm-4">
                <div class="polaroid">
                    <img src="{{pet.foto.url}}" width="350" height="250" >
                </div>
            </div>
            <div class="col-sm-8">
                <h5><b>{% trans "Descrição" %}: </b>{{pet.descricao}}</h5>
                <h4>{% trans "Situação" %}: <b>{{pet.encontradoPerdido}}</b></h4>
                <h4>{% trans "Contato" %}</h4>
                <p><b>Tel.: </b>{{usuario.telefone}}</p>
                <p><b>E-mail: </b>{{user.email}}</p>
                {% if request.user == pet.user %}
                <a href="/deletar-pet/{{ pet.id }}" >   
                    <button type="button" class="btn btn-outline-dark btn-danger">{% trans "Excluir" %}</button>
                </a>
                <a href="/cadastro-pet/?id={{ pet.id }}">
                    <button type="button" class="btn btn-outline-dark">{% trans "Alterar" %}</button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    
    
            
        
    

{% endblock conteudo %}