{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}

{% blocktrans %}
<p>Somos uma plataforma para amantes de animais de estimação.</p>

<p>Uma boa parte dos amantes de animais não conseguem ver um cão ou gato vagando perdido pelas ruas, e acabam recolhendo-os, cuidando e tentando localizar seus tutores. Muitas vezes, entretanto, a busca é em vão, seja porque eles foram abandonados e, obviamente, os antigos tutores não querem ser encontrados ou simplesmente porque não há um canal apropriado para esta conexão entre cães e gatos perdidos e localizá-los.</p>

<p>De modo geral, o objetivo deste projeto é integrar a comunidade dos amantes de animais de estimação, provendo serviços e facilitando a proteção destes animais de forma centralizada, em uma única plataforma.</p>

<p>Nossa plataforma é ideal para:</p>
<ul>
<li>Pessoas que encontraram animais perdidos e pessoas que perderam seus animais de estimação;</i>
<li>Pessoas que queiram adotar um animal de estimação e os animais que estão à disposição para adoção nas instituições;</i>
<li>Pessoas que queiram contribuir com instituições/causas animais, de forma segura e confiável;</i>
<li>Empresas parceiras que queiram vincular suas marcas com a causa animal através de publicidade em nosso site.</i>
</ul>
<p>Além disso, você poderá conferir o histórico dos animais que passarem pela plataforma, a fim de dar mais segurança de que estes animais estão sendo bem tratados.</p>
{% endblocktrans %}

{% endblock %}