{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}
    <!-- Guias -->
    <div class="container mt-4">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/administrativo-instituicao/">{% trans "Informações gerais" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/modificar-cadastro-instituicao/">{% trans "Cadastro da Instituição" %}</a>
            </li>
            {% if usuario.is_admin_instituicao %}
                <li class="nav-item">
                    <a class="nav-link" style="color:#495057" href="/adicionar-usuario-instituicao/">{% trans "Cadastrar usuário" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:#495057" href="/listar-usuario-instituicao/">{% trans "Usuários cadastrados" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="color:#495057" href="/cadastrar-doacao/">{% trans "Cadastrar doação" %}</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/cadastro-pet-instituicao/">{% trans "Cadastrar Pet para Adoção" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/lista-pet-instituicao/">{% trans "Listar Pets da Instituição" %}</a>
            </li>
        </ul>
    </div>

    <div class="container">
        <form method="POST">
            <p><h3>{% trans "Cadastro de doação" %}</h3></p>
            Para permitir que pessoas façam doações à sua instituição, por favor, preencha o formulário a seguir:
            <!--
            <br><br>
            <p><h4>{% trans "Doação comum" %}</h4></p>
            <p>Siga as instruições deste link para gerar os endereços de doação do PayPal.</p>
            <div class="form-group">
                <label><b>{% trans "R$ 20" %}</b>:</label>
                <input class="form-control" name="doacao_valor_20_link" type="text" value="{{ instituicao.doacao_valor_20_link|default_if_none:"" }}" placeholder="Insira o link do paypal para doação de R$ 20">
            </div>
            <br>

            <div class="form-group">
                <label><b>{% trans "R$ 50" %}</b>:</label>
                <input class="form-control" name="doacao_valor_50_link" type="text" value="{{ instituicao.doacao_valor_50_link|default_if_none:"" }}" placeholder="Insira o link do paypal para doação de R$ 50">
            </div>
            <br>

            <div class="form-group">
                <label><b>{% trans "R$ 100" %}</b>:</label>
                <input class="form-control" name="doacao_valor_100_link" type="text" value="{{ instituicao.doacao_valor_100_link|default_if_none:"" }}" placeholder="Insira o link do paypal para doação de R$ 100">
            </div>
            <br>

            <p><h4>{% trans "Ajuda com custos" %}</h4></p>
            <p>Insira o valor de cada custo do seu pet e o link de doação para cada valor no paypal</p>
            <label><b>{% trans "Limpeza" %}</b>:</label>
            <div class="input-group">
                <input class="form-control" name="doacao_limpeza_link" type="number" value="{{ instituicao.doacao_limpeza_link|default_if_none:"" }}" placeholder="R$">
                <input class="form-control" name="doacao_limpeza_valor" type="text" value="{{ instituicao.doacao_limpeza_valor|default_if_none:"" }}" placeholder="Endereço para doação">
            </div>
            <br>
            <label><b>{% trans "Alimentação" %}</b>:</label>
            <div class="input-group">
                
                <input class="form-control" name="doacao_alimentacao_link" type="number" value="{{ instituicao.doacao_alimentacao_link|default_if_none:"" }}" placeholder="R$">
                <input class="form-control" name="doacao_alimentacao_valor" type="text" value="{{ instituicao.doacao_alimentacao_valor|default_if_none:"" }}" placeholder="Endereço para doação">
            </div>
            <br>
            <label><b>{% trans "Medicamentos" %}</b>:</label>
            <div class="input-group">
                
                <input class="form-control" name="doacao_medicamentos_link" type="number" value="{{ instituicao.doacao_medicamentos_link|default_if_none:"" }}" placeholder="R$">
                <input class="form-control" name="doacao_medicamentos_valor" type="text" value="{{ instituicao.doacao_medicamentos_valor|default_if_none:"" }}" placeholder="Endereço para doação">
            </div>
            <br>
            <label><b>{% trans "Diária de internação" %}</b>:</label>
            <div class="input-group">
                
                <input class="form-control" name="doacao_diaria_internacao_link" type="number" value="{{ instituicao.doacao_diaria_internacao_link|default_if_none:"" }}" placeholder="R$">
                <input class="form-control" name="doacao_diaria_internacao_valor" type="text" value="{{ instituicao.doacao_diaria_internacao_valor|default_if_none:"" }}" placeholder="Endereço para doação">
            </div>
            <br>
  
            <p><h4>{% trans "Patrocínio recorrente" %}</h4></p>
            <p>Insira o endereço para assinatura com o valor desejado do seu paypal</p>
            <label><b>{% trans "Endereço" %}</b>:</label>
            <div class="input-group">
                <input class="form-control" name="doacao_patrocinio_link" type="text" value="{{ instituicao.doacao_patrocinio_link|default_if_none:"" }}" placeholder="Endereço do patrocínio">
            </div>
            <br>
            -->


                {% csrf_token %}
                <!--{{ form|crispy }}-->
                    {{form|crispy}}

            <!-- Submit -->
            <button type="submit" class="btn btn-outline-dark mt-4 w-100">
                {% trans "Salvar" %}
            </button>

    </div>
{% endblock %}