{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}
<div class="container">
    <!-- Guias -->
    <div class="container mt-4">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                {% if request.path == "/patrocinar/" %}
                    <a class="nav-link active">{% trans "Patrocinar pets" %}</a>
                {% else %}                    
                    <a class="nav-link" style="color:#495057" href="/patrocinar/">{% trans "Patrocinar pets" %}</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if request.path == "/meus-patrocinios/" %}
                    <a class="nav-link active">{% trans "Patrocínios feitos" %}</a>
                {% else %}                    
                    <a class="nav-link" style="color:#495057" href="/meus-patrocinios/">{% trans "Patrocínios feitos" %}</a>
                {% endif %}
            </li>
            {% if user.usuario.is_admin_instituicao %}
            <li class="nav-item">
                {% if request.path == "/doacao/lista/" %}
                    <a class="nav-link active">{% trans "Patrocínios recebidos" %}</a>
                {% else %}                   
                    <a class="nav-link" style="color:#495057" href="/doacao/lista/">{% trans "Patrocínios recebidos" %}</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if request.path == "/doacao/cadastro-info-pagamento/" %}
                    <a class="nav-link active">{% trans "Dados do PagSeguro" %}</a>
                {% else %}                   
                    <a class="nav-link" style="color:#495057" href="/doacao/cadastro-info-pagamento/">{% trans "Dados do PagSeguro" %}</a>
                {% endif %}
            </li>
            {% endif %}
        </ul>
    </div>
        <p><h3>{% trans "Cadastro de doação" %}</h3></p>
        <p>{% trans "Para permitir que pessoas façam doações à sua instituição, por favor, preencha o formulário a seguir:" %}<p>
        <p>{% trans "Não sabe o que fazer? Veja o funcionamento do sistema de doações no" %} <a href="/faq/#headingTwelve" target="_blank">{% trans "nosso FAQ" %}</a>.<p>
        <div class="row">
        <form method="POST">
        {% csrf_token %}
        {% crispy form %}

    </div>
    <script>  
        $('#id_doacao_patrocinio_codigo').change(function(){
            $('#id_doacao_patrocinio_codigo').val($('#id_doacao_patrocinio_codigo').val().replace(/-/g,""));
        });
    </script>
</div>
{% endblock %}