{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}

    <!-- Guias -->
    <div class="container mt-4">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/administrativo-instituicao/">{% trans "Informações gerais" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/modificar-cadastro-instituicao/">{% trans "Cadastro da Instituição" %}</a>
            </li>
            {% if usuario.is_admin_instituicao %}
                <li class="nav-item">
                    <a class="nav-link" style="color:#495057" href="/adicionar-usuario-instituicao/">{% trans "Cadastrar usuário" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:#495057" href="/listar-usuario-instituicao/">{% trans "Usuários cadastrados" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="color:#495057" href="/doacao/cadastro-info-pagamento/">{% trans "Cadastrar doação" %}</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/cadastro-pet-instituicao/">{% trans "Cadastrar Pet para Adoção" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/lista-pet-instituicao/">{% trans "Listar Pets da Instituição" %}</a>
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pet</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                    <th scope="col">Público?</th>
                    <th scope="col">Pago?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pat in patrocinio %}
                        <tr>
                            <td>{{pat.id}}</td>
                            <td>{{pat.nome}}</td>
                            <td>R$ {{pat.valor}}</td>
                            <td>{{pat.data}}</td>
                            <td>
                                <div class="form-check">
                                    <input id="publico" onclick="location.href='/doacao/alterar-privacidade/{{pat.id}}/';" name="publico" class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                                        {% if pat.publico %}
                                            checked
                                        {% else %}
                                            
                                        {% endif %} 
                                    >
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input id="pago" onclick="location.href='/doacao/alterar-status/{{pat.id}}/';" name="pago" class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                                        {% if pat.pago %}
                                            checked
                                        {% else %}
                                        
                                        {% endif %} 
                                    >
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}