{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<div class="container">
    <!-- Guias -->
    <div class="container mt-4">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                {% if request.path == "/patrocinar/" %}
                    <a class="nav-link active">{% trans "Patrocinar pets" %}</a>
                {% else %}                    
                    <a class="nav-link" style="color:#495057" href="/patrocinar/">{% trans "Patrocinar pets" %}</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if request.path == "/meus-patrocinios/" %}
                    <a class="nav-link active">{% trans "Patrocínios feitos" %}</a>
                {% else %}                    
                    <a class="nav-link" style="color:#495057" href="/meus-patrocinios/">{% trans "Patrocínios feitos" %}</a>
                {% endif %}
            </li>
            {% if user.usuario.is_admin_instituicao %}
            <li class="nav-item">
                {% if request.path == "/doacao/lista/" %}
                    <a class="nav-link active">{% trans "Patrocínios recebidos" %}</a>
                {% else %}                   
                    <a class="nav-link" style="color:#495057" href="/doacao/lista/">{% trans "Patrocínios recebidos" %}</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if request.path == "/doacao/cadastro-info-pagamento/" %}
                    <a class="nav-link active">{% trans "Dados do PagSeguro" %}</a>
                {% else %}                   
                    <a class="nav-link" style="color:#495057" href="/doacao/cadastro-info-pagamento/">{% trans "Dados do PagSeguro" %}</a>
                {% endif %}
            </li>
            {% endif %}
        </ul>
    </div>

    <p><h3>{% trans "Lista de patrocínios recebidos" %}</h3></p>
        <p>A lista a seguir mostra todas os patrocínios sinalizados. 
        Todo patrocínio é sinalizado quando uma pessoa clica em algum dos botões de doação.</p>
        <p>Verifique na sua conta PagSeguro se alguma das doações a seguir foram de fato efetuadas. 
        Caso esteja, marque a caixinha de "Pago?".</p>
        <p>Também é possível sinalizar se o patrocínio é público ou privado. 
        Caso esteja público, marque a caixinha de "Público?".</p>
        <p>Não sabe o que fazer? Veja o funcionamento do sistema de doações no <a href="/faq/#headingTwelve" target="_blank">nosso FAQ</a>.</p>
        <div class="row">
        <div class="table-responsive">
            <table class="table table-striped text-nowrap">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pet</th>
                    <th scope="col">E-mail do doador</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                    <th scope="col">Pago?</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for pat in patrocinio %}
                        <tr>
                            <td>{{pat.id}}</td>
                            <td><a href="/pet-informacao-instituicao-adocao/{{pat.id_pet}}/" class="text-decoration-none" style="color:black">{{pat.nome}}</a></td>
                            <td>{{pat.email}}</td>
                            <td>R$ {{pat.valor}}</td>
                            <td>{{pat.data}}</td>
                            <td>
                                <div class="form-check form-switch">
                                    <input id="pago" onclick="location.href='/doacao/alterar-status/{{pat.id}}/';" name="pago" class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                                        {% if pat.pago %}
                                            checked
                                        {% else %}
                                        
                                        {% endif %} 
                                    >
                                </div>
                            </td>
                            <td><button type="button" onclick="location.href='/doacao/excluir/{{pat.id}}/'" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}