{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SalvePets</title>
        <!-- Favicon-->
        <!--<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />-->
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        
        
        <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">


    </head>


    <body>


                <!-- Navigation-->
                <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffea85;">
                    <div class="container px-4 px-lg-5">
                        <!--<a class="navbar-brand" href="#!">Salve Pets</a>-->
                        <a class="navbar-brand" href="/"><img class="card-img-top mb-5 mb-md-0" src="{% static 'core/assets/img/logo.png' %}" alt="..." /></a>
                        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#!">{% trans "Sobre" %}</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pets</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#!">{% trans "Adote um pet" %}</a></li>
                                        <!--<li><hr class="dropdown-divider" /></li>-->
                                        <li><a class="dropdown-item" href="#!">{% trans "Ajude a manter um pet" %}</a></li>
                                        <li><a class="dropdown-item" href="#!">{% trans "Aviso Pet Encontrado" %}</a></li>
                                        <li><a class="dropdown-item" href="#!">{% trans "Aviso Pet Perdido" %}</a></li>
                                        <li><a class="dropdown-item" href="#!">Chatbot</a></li>
                                    </ul>
                                </li>
                            </ul>
                                                        
                        </div>
                    </div>
                </nav>

        <!-- Página de Login-->
        <div class="container mt-4">
            <h2>{% trans "Sair" %}</h2>
            <p>{% trans "Você tem certeza que deseja sair?" %}</p>
            <form method="POST" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <section class="py-2">
                </section>
                <button class="btn btn-outline-dark" type="submit"> 
                    {% trans "Sair" %}
                </button>
            </form>
        </div>
        <section class="py-5">
        </section>
        <section class="py-5">
        </section>
        <section class="py-5">
        </section>
        <section class="py-4">
        </section>

        <!-- Footer-->
        <footer class="py-5" style="background-color: #ffea85;">
            <div class="container"><p class="m-0 text-center text-black" style="background-color: #ffea85;">Copyright &copy; Salve Pets 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS
        <script src="js/scripts.js"></script>
        -->
    </body>
</html>