{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}

    <!-- Página de Login-->
    <div class="container mt-4">
        <h2>{% trans "Sair" %}</h2>
        <p>{% trans "Você tem certeza que deseja sair?" %}</p>
        <form method="POST" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <section class="py-2">
            </section>
            <button class="btn btn-outline-dark" type="submit"> 
                {% trans "Sair" %}
            </button>
        </form>
    </div>

{% endblock conteudo %}