{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Mudar senha" %}{% endblock %}
{% load crispy_forms_tags %}

{% block conteudo %}
<div class="container mt-4">
    <h1>{% if token_fail %}{% trans "Problema no token" %}{% else %}{% trans "Mudar senha" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}O link para alteração da senha é inválido, possivelmente por que já foi usado. Solicite uma <a href="{{ passwd_reset_url }}">nova alteração de senha</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-secondary mt-1" name="action" value="{% trans 'Mudar senha' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Sua senha foi alterada com sucesso.' %}</p>
        {% endif %}
    {% endif %}
</div>
<br>
{% endblock %}