{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Redifinir senha" %}{% endblock %}

{% block conteudo %}
    <h1>{% trans "Redifinir senha" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Um e-mail foi enviado para você. Por favor, verifique sua caixa de entrada.{% endblocktrans %}</p>
    <p>{% blocktrans %}Caso não tenha recebido o e-mail, verifique sua caixa de spam e adicione <b>atendimentosalvepets@gmail.com</b> na sua lista de contatos.{% endblocktrans %}</p>
{% endblock %}