{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Mudar senha" %}{% endblock %}

{% block conteudo %}

    <h1>{% trans "Mudar senha" %}</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Esqueceu sua senha? Digite o seu e-mail cadastrado no Salve Pets para que enviemos um e-mail com as instruções de recuperação de senha." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="{% trans 'Redefinir senha' %}" />
    </form>

    <p>{% blocktrans %}Por favor, entre em contato caso você tenha algum problema com redefinição de senha.{% endblocktrans %}</p>
{% endblock %}