{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}

    <!-- Página de Cadastro-->
    <div class="container mt-4">
        <h2>{% trans "Cadastro" %}</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <p style="color: rgb(255 0 0)">
                <b>{% trans "A senha precisa conter no mínimo 8 caracteres." %}
                <br>{% trans "A senha não pode ser inteiramente numérica." %}</br>
            </p>
            <section class="py-2">
            </section>
            <button class="btn btn-outline-dark" type="submit">
                {% trans "Cadastrar" %}
            </button>
        </form>
    </div>

{% endblock conteudo %}