{% extends "account/email/base_message.html" %}
{% load i18n %}
{% block content %}
{% autoescape off %}
<tr>
    <td align="center" style="font-size:0px;padding:10px 25px;padding-bottom:0;word-break:break-word;">
        <div style="font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:22px;text-align:center;color:#555;">
            {% blocktrans %}Você está recebendo um e-mail para a redefinição da senha de sua conta {{ username }} do Salve Pets.{% endblocktrans %}
        </div>
    </td>
</tr>
<tr>
    <td align="center" style="font-size:0px;padding:10px 25px;padding-bottom:0;word-break:break-word;">
        <div style="font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:22px;text-align:center;color:#555;">
            {% blocktrans %}Caso você não tenha solicitado essa alteração, pode ignorar esse e-mail sem riscos a sua segurança.{% endblocktrans %}
        </div>
    </td>
</tr>
<tr>
    <td align="center" style="font-size:0px;padding:10px 25px;padding-bottom:0;word-break:break-word;">
        <div style="font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:22px;text-align:center;color:#555;">
            {% blocktrans %}Para redefinir a senha, clique no link abaixo:{% endblocktrans %}
        </div>
    </td>
</tr>
<tr>
    <td align="center" style="font-size:0px;padding:10px 25px;padding-bottom:0;word-break:break-word;">
        <div style="font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:22px;text-align:center;color:#555;">
           <a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
        </div>
    </td>
</tr>
{% endautoescape %}
{% endblock %}