{% extends "base.html" %}

{% load i18n %}

{% block title %}Sucesso!{% endblock %}

{% block conteudo %}

<div class="container my-3">
    <h1 class="font-weight-bold">{% trans "Estamos processando o seu pagamento!" %}</h1>
    <p>
        {% trans "Obrigado por comprar conosco." %}
        {% trans "Em até 2 dias úteis você receberá um e-mail com mais informações sobre o pagamento." %}
    </p>

    <a class="btn btn-primary" href="/">
        {% trans "Voltar para a página inicial" %}
    </a>
</div>

{% endblock %}