{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block conteudo %}
    <!-- Guias -->
    <div class="container mt-4">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link  active" style="color:#495057" href="/administrativo-instituicao/" selected>{% trans "Informações gerais" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/modificar-cadastro-instituicao/" selected>{% trans "Cadastro da Instituição" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/adicionar-usuario-instituicao/">{% trans "Cadastrar usuário" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/listar-usuario-instituicao/">{% trans "Usuários cadastrados" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/cadastro-pet-instituicao/">{% trans "Cadastrar Pet para Adoção" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/lista-pet-instituicao/">{% trans "Listar Pets da Instituição" %}</a>
            </li>
        </ul>
    </div>
    <section class="py-2">
    </section>
    <!-- Página de adição de usário na instituição-->
    <div class="container mt-4">
        <h2>Desculpa, mas você não pode ter acesso a esta página... :(</h2>
    </div>
{% endblock %}