{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block conteudo %}
    
    <style>
        .rating {
        display: flex;
        padding: 0;
        margin: 0;
        }
        
        .rating li {
        list-style-type: none
        }
        
        .rating-item {
        border: 1px solid #fff;
        cursor: pointer;
        font-size:2em;
        color: #fbba00;
        }
        
        /* initial: make all stars full */
        .rating-item::before {
        content: "\2605";
        }
        
        /* make until the clicked star (the rest) empty */
        .rating-item.active ~ .rating-item::before {
        content: "\2606";
        }
        
        /* on hover make all full */
        .rating:hover .rating-item::before {
        content: "\2605";
        }
        
        /* make until the hovered (the rest) empty */
        .rating-item:hover ~ .rating-item::before {
        content: "\2606";
        }
        
        </style>
        


        <form enctype="multipart/form-data" action="submit", method="POST">
            {% csrf_token %}
        <div class="container mt-5" style="width: 35rem;">
            <h3 class="pt-3 text-center">{% trans "Avalie a instituição" %} {{inst.nome_instituicao}}</h3>
            <ul class="rating">
            <li class="rating-item" data-rate="1"></li>
            <li class="rating-item active" data-rate="2"></li>
            <li class="rating-item" data-rate="3"></li>
            <li class="rating-item" data-rate="4"></li>
            <li class="rating-item" data-rate="5"></li>
            </ul>
            
        <!--Mensagem caso o usuário informe um usuário inexistente-->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li style="color: #f00" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

            <input type="hidden" name="rating" id="rating" value="2">
            <input type="hidden" name="id_pet" id="id_pet" value={{pet_id.id}}>

            <div class="form-group">
                <label><b>{% trans "Conte sobre a instituição para outras pessoas" %}</b>:</label>
                <textarea class="form-control" rows="3" name="descricao" type="text" placeholder="A instituição...">{{ pet.descricao|default_if_none:"" }}</textarea>
            </div>
            <br>

            <button type="submit" class="btn btn-outline-dark mt-4 w-100">
                {% trans "Enviar" %}
            </button>
        </div>
        </form>





        <script>
        const container = document.querySelector('.rating');
        const items = container.querySelectorAll('.rating-item')
        container.onclick = e => {
        const elClass = e.target.classList;
        // change the rating if the user clicks on a different star
        if (!elClass.contains('active')) {
        items.forEach( // reset the active class on the star
        item => item.classList.remove('active')
        );
        console.log(e.target.getAttribute("data-rate"));
        document.getElementById("rating").value=e.target.getAttribute("data-rate")
        elClass.add('active'); // add active class to the clicked star
        }
        };
        </script>

{% endblock %}

