{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}
    <!-- Guias -->
    <div class="container mt-4">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/administrativo-instituicao/" selected>{% trans "Informações gerais" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/modificar-cadastro-instituicao/" selected>{% trans "Cadastro da Instituição" %}</a>
            </li>
            {% if usuario.is_admin_instituicao %}
                <li class="nav-item">
                    <a class="nav-link" style="color:#495057" href="/adicionar-usuario-instituicao/">{% trans "Cadastrar usuário" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:#495057" href="/listar-usuario-instituicao/">{% trans "Usuários cadastrados" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:#495057" href="/cadastrar-doacao/">{% trans "Cadastrar doação" %}</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link active" style="color:#495057" href="/cadastro-pet-instituicao/">{% trans "Cadastrar Pet para Adoção" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/lista-pet-instituicao/">{% trans "Listar Pets da Instituição" %}</a>
            </li>
        </ul>
    </div>

<style>
    #id_coordenada-map {
        width: min(calc(100vw - 30px), 720px);
        height: 400px;
    }

    #id_coordenada {
     display: none;
    }

    /* Fixes for Django base.css */
    .module .leaflet-draw ul {
        margin-left: 0px;
        padding-left: 0px;
    }

    .module .leaflet-draw ul li {
    li  st-style-type: none;
    }
    
</style>

<!-- Formulário -->
<form enctype="multipart/form-data" action="submit", method="POST">
    {% csrf_token %}
    <input type="number" class="form-control" name="pet-id" value="{{ pet.id }}" hidden>
    <div class="container">
        {% if pet.id != null %}
            <p><h3>{% trans "Alterar pet" %}</h3></p>
        {% else %}
            <p><h3>{% trans "Cadastrar um pet" %}</h3></p>
        {% endif %}

        <!-- Imagem -->
        <div class="form-group">
            {% if pet.id != null %}
                <label><b>{% trans "Alterar imagem" %}: *</b></label>
                <p><a href="/media/{{ pet.foto }}" target="_blank"><img src="/media/{{ pet.foto }}" style="width:100%; max-width:300px;"></a></p>
            {% else %}
                <label><b>{% trans "Foto" %}</b>: *</label><br>
            {% endif %}
            {% if pet.id != null %}
                <input type="file" class="form-control" name="foto" accept="image/*" value="{{ pet.foto }}">
            {% else %}
                <input required="required" type="file" class="form-control" name="foto" accept="image/*" value="{{ pet.foto }}" >
            {% endif %}
        </div>
        <br>

        <!--Ativo
        <div class="form-group">
            <label class="form-check-label"><b>{% trans "Ativo" %}</b>:</label>
            <input class="checkboxinput form-check-input" name="ativo" type="checkbox" value="{{pet.ativo|default_if_none:"checked" }}">
        </div>
        
        <div class="form-group"> 
            <div id="div_id_receberNotificacoes" class="form-check"> 
                <input type="checkbox" name="ativo" class="checkboxinput form-check-input" value="{{pet.ativo}}" id="id_receberNotificacoes" checked=""> 
                <label for="id_receberNotificacoes" class="form-check-label">
                    Receber notificações
                </label> 
            </div> 
        </div>
        -->
        <div class="form-row field-ativo">
            <div class="checkbox-row">
                <label class="vCheckboxLabel" for="id_ativo"><b>Ativo</b>:</label>
                {% if pet.ativo == True  %}
                    <input class="checkboxinput form-check-input" type="checkbox" name="ativo" id="id_ativo" checked>
                {% else %}
                    <input class="checkboxinput form-check-input" type="checkbox" name="ativo" id="id_ativo">
                {% endif %}          
            </div>
        </div>
        <br>
        <!-- Nome -->
        <div class="form-group">
            <label><b>{% trans "Nome" %}</b>:</label>
            <input class="form-control" name="nome" type="text" value="{{ pet.nome|default_if_none:"Sem nome" }}" placeholder="Caso não saiba, mantenha este campo vazio">
        </div>
        <br>

        <!-- Detalhes -->
        <div class="form-group">
            <label><b>{% trans "Detalhes" %}</b>:</label>
            <textarea class="form-control" rows="3" name="descricao" type="text" placeholder="Tente inserir o máximo de detalhes sobre o pet">{{ pet.descricao|default_if_none:"" }}</textarea>
        </div>
        <br>

        <!-- Espécie -->
        <div class="form-group">
            <label><b>{% trans "Espécie" %}</b>: *</label>
            <select class="form-select" name="especie" value="{{ pet.especie }}">
                <option value="Cachorro"
                    {% if pet.especie == "Cachorro" %} selected="selected" {% endif %}
                    >{% trans "Cachorro" %}
                </option>
                <option value="Gato"
                    {% if pet.especie == "Gato" %} selected="selected" {% endif %}
                    >{% trans "Gato" %}
                </option>
                <option value="Outros"
                    {% if pet.especie == "Outros" %} selected="selected" {% endif %}
                    >{% trans "Outros" %}
                </option>
            </select>
        </div>
        <br>
        <!-- Raça -->
        <div class="form-group">
            <label><b>{% trans "Raça" %}</b>:</label>
            <input class="form-control" name="raca" type="text" value="{{ pet.raca|default_if_none:"" }}">
        </div>
        <br>

        <!-- Sexo -->
        <div class="form-group">
            <label><b>{% trans "Sexo" %}</b>:</label>
            <select class="form-select" name="sexo" value="{{ pet.sexo }}">
                <option value="Macho"
                    {% if pet.sexo == "Macho" %} selected="selected" {% endif %}
                    >{% trans "Macho" %}
                </option>
                <option value="Fêmea"
                    {% if pet.sexo == "Fêmea" %} selected="selected" {% endif %}
                    >{% trans "Fêmea" %}
                </option>
                <option value="Não sei"
                    {% if pet.sexo == "Não sei" %} selected="selected" {% endif %}
                    >{% trans "Não sei" %}
                </option>
            </select>
        </div>
        <br>

        <!-- Porte -->
        <div class="form-group">
            <label><b>{% trans "Porte" %}</b>: *</label><br>
            <button id="btn-pequeno-porte" class="btn btn-primary" style="color:black; font-size:70%" onclick="SetSize('pequeno')" type="button">Pequeno porte</button>
            <button id="btn-medio-porte" class="btn btn-primary active" style="color:black; font-size:70%" onclick="SetSize('medio')" type="button">Médio porte</button>
            <button id="btn-grande-porte" class="btn btn-primary" style="color:black; font-size:70%" onclick="SetSize('grande')" type="button">Grande porte</button><br><br>

            <table class="fixed">
                <tr>
                    <td><img src="{% static 'core/assets/img/human.png' %}" height="150" /></td>
                    <td style="vertical-align:bottom; padding-left: 15px"><img id="imageRange" src="{% static 'core/assets/img/dog.png' %}" height="
                        {% if pet.porte %}
                            {{pet.porte}}
                        {% else %}
                            80
                        {% endif %}
                        " />
                    </td>
                </tr>
            </table>
            <input class="form-range" style="width:250px" id="range" type="range" min="40" step="0" max="120" oninput="updateTextInput();" name="porte" value="{{ pet.porte|default_if_none:120 }}" >
        </div>
        <br>

        <!-- Submit -->
        <button type="submit" class="btn btn-outline-dark mt-4 w-100">
            {% if pet %}
                {% trans "Alterar" %}
            {% else %}
                {% trans "Cadastrar" %}
            {% endif %}
        </button>
    </div>
</form>

{% endblock %}