{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


{% block conteudo %}
<style>
.polaroid{
    width:350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  </style>

    <!-- Página de Login
    <div class="container mt-4">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link" style="color:#495057" href="/lista-pet-usuario/">{% trans "Meus pets" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color:#495057" href="/cadastro-pet/">{% trans "Cadastrar pet" %}</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active"><b>{% trans "Pets perdidos" %}</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color:#495057" href="/lista-pet-encontrado/">{% trans "Pets encontrados" %}</a>
        </li>
    </ul>
</div>
-->
  
    <div class="container">
            <!-- Guias -->
    <div class="container mt-4">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/administrativo-instituicao/" selected>{% trans "Informações gerais" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/modificar-cadastro-instituicao/" selected>{% trans "Cadastro da Instituição" %}</a>
            </li>
            {% if usuario.is_admin_instituicao %}
                <li class="nav-item">
                    <a class="nav-link" style="color:#495057" href="/adicionar-usuario-instituicao/">{% trans "Cadastrar usuário" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:#495057" href="/listar-usuario-instituicao/">{% trans "Usuários cadastrados" %}</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/cadastro-pet-instituicao/">{% trans "Cadastrar Pet para Adoção" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" style="color:#495057" href="/lista-pet-instituicao/">{% trans "Listar Pets da Instituição" %}</a>
            </li>
        </ul>
    </div>
    <section class="py-2">
    </section>

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <section class="py-2">
        </section>
        <button class="btn btn-outline-dark align-center" type="submit"> 
            {% trans "Pesquisar" %}
        </button>
    </form>
    
    <section class="py-2">
    </section>

    {% if verifica_pesquisa %}
        <h3><a href="../lista-pet-instituicao/">Listar todos os Pets</a></h3>
        <p><h3>{% trans "Resultado da pesquisa" %}</h3></p>
    {% else %}
        <p><h3>{% trans "Lista de Pets da Instituição" %}</h3></p>
    {% endif %}
        <div class="row">
            {% for p in pet %}
            
            <div class="card mb-3 mx-2 p-0" style="width: 18rem;">
            <a href="../pet-informacao-instituicao/{{ p.id }}">
                <img src="{{p.foto.url}}" class="card-img-top" alt="Foto do pet">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ p.nome }}</h5>
                <p class="card-text">{{p.descricao}}</p>
                <p class="card-text">
                    {% if p.ativo %}
                        <b>Ativo</b>
                    {% else %}
                        <b>Inativo</b>
                    {% endif %}
                </p>
                <a href="../pet-informacao-instituicao/{{ p.id }}" class="btn btn-primary w-100">Detalhes</a>
            </div>
            </div>
            
            {% endfor %}
        </div>
    </div>


    
    
            
        
    

{% endblock conteudo %}