{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block conteudo %}
    <!-- Página de Alteração Cadastral-->
    <!-- Guias -->
    <div class="container mt-4">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/administrativo-instituicao/" selected>{% trans "Informações gerais" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" style="color:#495057" href="/modificar-cadastro-instituicao/" selected>{% trans "Cadastro da Instituição" %}</a>
            </li>
            {% if usuario.is_admin_instituicao %}
                <li class="nav-item">
                    <a class="nav-link" style="color:#495057" href="/adicionar-usuario-instituicao/">{% trans "Cadastrar usuário" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:#495057" href="/listar-usuario-instituicao/">{% trans "Usuários cadastrados" %}</a>
                </li>
                
            {% endif %}
            <li class="nav-item">
                <a class="nav-link " style="color:#495057" href="/cadastro-pet-instituicao/">{% trans "Cadastrar Pet para Adoção" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#495057" href="/lista-pet-instituicao/">{% trans "Listar Pets da Instituição" %}</a>
            </li>
        </ul>
    </div>
    <section class="py-2">
    </section>
    {% if usuario.cpfcnpj %}
        <div class="container mt-4">
            <h2>{% trans "Cadastro da Instituição" %}</h2>
            <form method="POST">
                {% csrf_token %}
                <!--{{ form|crispy }}-->
                {% crispy form %}
                <section class="py-2">
                </section>
                <!--<button class="btn btn-outline-dark" type="submit"> 
                    {% trans "Atualizar" %}
                </button>-->
            </form>
    {% else %}
    <h3 class="row h-100 justify-content-center align-items-center">{% trans "Caro usuário, é necessário realizar o cadastro dos dados pessoais para realizar o cadastro de uma Instituição" %}</h3>
    <a href="../completar-cadastro/" class="row h-100 justify-content-center align-items-center">{% trans "Clique aqui para completar o cadastro." %}</a>
    {% endif %}

    <script src="{% static 'core/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'core/js/jquery.mask.js' %}"></script>

    {% block scripts %}
        <script>  
            $(document).ready(function(){
                $("#id_cnpj").mask("00.000.000/0000-00");
                $('#id_telefone').mask('(00) 0000-0000');
                $('#id_postal_code').mask('00000-000');
            });
        </script>
    {% endblock %}
    </div>

    {% block script %}
        <script src="https://unpkg.com/imask@6.0.7/dist/imask.js"></script>
        <script src="{% static 'core/js/order-form.js' %}"></script>
    {% endblock script %}

{% endblock %}

