{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}

    <!-- Página de Login
<div class="container mt-4">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link" style="color:#495057" href="/lista-pet-usuario/">{% trans "Meus pets" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color:#495057" href="/cadastro-pet/">{% trans "Cadastrar pet" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color:#495057" href="/lista-pet-perdido/">{% trans "Pets perdidos" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color:#495057" href="/lista-pet-encontrado/">{% trans "Pets encontrados" %}</a>
        </li>
    </ul>
</div>
-->

<style>
    .rating {
    display: flex;
    padding: 0;
    margin: 0;
    }
    
    .rating li {
    list-style-type: none
    }
    
    .rating-item {
    border: 1px solid #fff;
    cursor: pointer;
    font-size:2em;
    color: #fbba00;
    }
    
    /* initial: make all stars full */
    .rating-item::before {
    content: "\2605";
    }
    
    /* make until the clicked star (the rest) empty */
    .rating-item.active ~ .rating-item::before {
    content: "\2606";
    }
    
    
    </style>

<main>
    <div class="container">
        {% if pet.adotado %}
            <p><h3>{% trans "Meus Pets adotados" %}</h3></p>
        {% else %}
            <p><h3>{% trans "Detalhes do pet para adoção ou patrocínio" %}</h3></p>
        {% endif %}
        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
                <div id="mdb-lightbox-ui">
                    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="pswp__scroll-wrap">
                        <div class="pswp__ui pswp__ui--hidden">
                        <div class="pswp__top-bar">
                            <div class="pswp__counter"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdb-lightbox" data-pswp-uid="1">
            <div class="row product-gallery mx-1">
                <div class="col-12 mb-0">
                    <figure class="view overlay rounded z-depth-1 main-img" style="max-height: 450px ">
                        <a href="{{pet.foto.url}}">
                            <img src="{{pet.foto.url}}" class="card-img-top w-100" alt="Foto do pet" style="height: 50vh; object-fit: cover;">
                        </a>
                    </figure>
                    {% if isadotado %}
                        <a href="/patrocinar/{{ pet.id }}" class="btn btn-secondary w-100 border-0" style="background-color:#0B9C45">{% trans "Patrocinar" %}</a>
                    {% endif %}
                </div>
            </div>
        </div> 
    </div>
    <div class="col-md-6">
        {% if isadotado %}
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#adotar_pet">{% trans "Clique aqui para adotar este Pet" %}</button>
            <section class="py-2">
            </section>
        {% endif %}
        <h5>{{pet.nome}}</h5> 
        <p class="pt-1">{{pet.descricao|default_if_none:"-"}}</p>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th class="pl-0 w-25" scope="row">{% trans "Raça" %}:</th>
                        <td>{{pet.raca|default_if_none:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="pl-0 w-25" scope="row">{% trans "Sexo" %}:</th>
                        <td>{{pet.sexo|default_if_none:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="pl-0 w-25" scope="row">{% trans "Porte" %}:</th>
                        <td>
                            {% if pet.porte >= 40 and pet.porte <= 60%}
                                {% trans "Pequeno porte" %}
                            {% elif pet.porte > 60 and pet.porte <= 100 %}
                                {% trans "Médio porte" %}
                            {% else %}
                                {% trans "Grande porte" %}
                            {% endif %}
                            
                            ({% trans "aprox" %}. {{pet.porte|default_if_none:"-"}}{% trans "cm de altura" %})
                        </td>
                    </tr>
                    <tr>
                        <th class="pl-0 w-25" scope="row">{% trans "Espécie" %}:</th>
                        <td>{{pet.especie|default_if_none:"-"}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="mt-4"> <h6><span class="pl-0 w-25">{% trans "Local da Instituição" %}</span></h6>
                <table class="table">
                    <tr>
                        <th class="pl-0 w-25" scope="row">{% trans "Cidade" %}:</th>
                        <td>{{inst.city|default_if_none:"-"}}</td>
                    </tr>
                    <tr>
                        <th class="pl-0 w-25" scope="row">{% trans "Estado" %}:</th>
                        <td>{{inst.state|default_if_none:"-"}}</td>
                    </tr>
                </table>
            </div>





            <div class="mt-4"> <h6><span class="pl-0 w-25">{% trans "Avaliação da Instituição" %}</span></h6>
                
                <table class="table">
                    <tr>
                        <span data-bs-toggle="modal" data-bs-target="#avaliacao_instituicao">
                            <ul class="rating">
                                {% if media == 1 %}
                                    <li class="rating-item active" data-rate="1"></li>
                                {% else %}
                                    <li class="rating-item" data-rate="1"></li>
                                {% endif %}
                                {% if media == 2 %}
                                    <li class="rating-item active" data-rate="2"></li>
                                {% else %}
                                    <li class="rating-item" data-rate="2"></li>
                                {% endif %}
                                {% if media == 3 %}
                                    <li class="rating-item active" data-rate="3"></li>
                                {% else %}
                                    <li class="rating-item" data-rate="3"></li>
                                {% endif %}
                                {% if media == 4 %}
                                    <li class="rating-item active" data-rate="4"></li>
                                {% else %}
                                    <li class="rating-item" data-rate="4"></li>
                                {% endif %}
                                {% if media == 5 %}
                                    <li class="rating-item active" data-rate="5"></li>
                                {% else %}
                                    <li class="rating-item" data-rate="5"></li>
                                {% endif %}
                                <li class="mt-3" style="color:black"> - ({{count}} {% trans "Opiniões" %})</li>
                            </ul>
                        </span>
                    </tr>
                </table>
            </div>







            <div class="mt-4">
                <h6><span class="pl-0 w-25">{% trans "Contato" %}</span></h6>
                <div class="col s12 g-recaptcha" data-sitekey="6LcZECsdAAAAAEz7fWpYJ2EDzDaWLGQKXP000gLG" data-callback='validar_captcha'></div>
                <!--<div class="col s12 g-recaptcha" data-sitekey="6LcwOAsdAAAAAKv-ZdyWgYPnP7TJv-NTIxK9rsmK" data-callback='validar_captcha'></div>-->
                <div id="g-recaptcha-error"></div>
            </div>
        </div>
    </div>
</main>
<br>

<!-- Modal de adoção-->
<div class="modal fade" id="adotar_pet" tabindex="-1" aria-labelledby="adotar_petLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adotar_petLabel">{% trans "Adotar pet" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{% trans "Tem certeza que deseja adotar este pet?" %}</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Fechar" %}</button>
                <a href="/solicitar-adocao/{{ pet.id }}" class="btn btn-danger" role="button">{% trans "Adotar" %}</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal de avaliação-->
<div class="modal fade" id="avaliacao_instituicao" tabindex="-1" aria-labelledby="adotar_petLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adotar_petLabel">{% trans "Avaliações sobre a Instituição" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <b>{% trans "Nota média" %}:</b>
                <ul class="rating">
                    {% if media == 1 %}
                        <li class="rating-item active" data-rate="1"></li>
                    {% else %}
                        <li class="rating-item" data-rate="1"></li>
                    {% endif %}
                    {% if media == 2 %}
                        <li class="rating-item active" data-rate="2"></li>
                    {% else %}
                        <li class="rating-item" data-rate="2"></li>
                    {% endif %}
                    {% if media == 3 %}
                        <li class="rating-item active" data-rate="3"></li>
                    {% else %}
                        <li class="rating-item" data-rate="3"></li>
                    {% endif %}
                    {% if media == 4 %}
                        <li class="rating-item active" data-rate="4"></li>
                    {% else %}
                        <li class="rating-item" data-rate="4"></li>
                    {% endif %}
                    {% if media == 5 %}
                        <li class="rating-item active" data-rate="5"></li>
                    {% else %}
                        <li class="rating-item" data-rate="5"></li>
                    {% endif %}
                </ul>

                <b>{% trans "Comentários" %}:</b>
                {% for i in itens %}
                    <ul>
                        <li><p class="card-title"> {{ i.comentario }}</p></li>
                    </ul>
                {% endfor %}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Fechar" %}</button>
                <!--<a href="/solicitar-adocao/{{ pet.id }}" class="btn btn-danger" role="button">{% trans "Adotar" %}</a>-->
            </div>
        </div>
    </div>
</div>

<!------------------------------------------------------>
<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback'></script>
<script>

function validar_captcha() { 
    var captchResponse = $('#g-recaptcha-response').val();
    if(captchResponse.length != 0 )
        document.getElementById('g-recaptcha-error').innerHTML = '<table class="table"> <tr> <th class="pl-0 w-25" scope="row">E-mail:</th> <td>{{inst.email|default_if_none:"-"}}</td> </tr> <tr><th class="pl-0 w-25" scope="row">Telefone:</th> <td>{{inst.telefone|default_if_none:"-"}}</td> </tr> </table>';

}
 
function verifyCaptcha(token) {
    recaptcha_response = token;
    document.getElementById('g-recaptcha-error').innerHTML = '';
}
</script>

<!------------------------------------------------------>
<script src='https://www.google.com/recaptcha/api.js'></script>


<script>
    const container = document.querySelector('.rating');
    const items = container.querySelectorAll('.rating-item')
    container.onclick = e => {
    const elClass = e.target.classList;
    };
</script>


{% endblock conteudo %}
