{% extends "account/email/base_message.html" %}
{% load i18n %}
{% block content %}
{% autoescape off %}
<tr>
    <td align="center" style="font-size:0px;padding:10px 25px;padding-bottom:0;word-break:break-word;">
        <div style="font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:22px;text-align:center;color:#555;">

            <p>{% trans "Olá!" %}</p>

            <p>{% trans "Temos uma boa notícia!" %}</p>

            <p>{% trans "Um pet proxímo ao cadastrado por você nos foi informado!" %}</p> 

            <p>{% trans "Para verificar se o pet pertence a você," %} <a href="http://127.0.0.1:8000/pet-informacao/{{ id }}" target="_blank">{% trans "clique aqui" %}</a> {% trans "e você será encaminhado para página de detalhes do pet." %}</p>

            <p>{% trans "Esperamos que tudo dê certo e que você encontre seu pet!" %}</p>
        </div>
    </td>
</tr>
{% endautoescape %}
{% endblock %}