{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}

<script>

function submit_limpeza(){
    document.getElementById("limpeza1").submit();
    document.getElementById("limpeza2").submit();
}

function submit_alimentacao(){
    document.getElementById("alimentacao1").submit();
    document.getElementById("alimentacao2").submit();
}

function submit_medicamentos(){
    document.getElementById("medicamentos1").submit();
    document.getElementById("medicamentos2").submit();
}

function submit_diaria_internacao(){
    document.getElementById("diaria_internacao1").submit();
    document.getElementById("diaria_internacao2").submit();
}
function submit_doacao_simples(v){

    switch(v){
        case 20:
            document.getElementById("doacao_simples_input").value=20 
            break;
        case 50:
            document.getElementById("doacao_simples_input").value=50
            break;
        case 100:
            document.getElementById("doacao_simples_input").value=100
            break;
    }

    document.getElementById("doacao_simples_1").submit();
    document.getElementById("doacao_simples_2").submit();
}
function submit_patrocinio(){
    document.getElementById("patrocinio").submit();
    document.getElementById("patrocinio2").submit();
}
</script>

<main>
    <div class="container">
        <!-- Guias -->
    <div class="container mt-4">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                {% if request.path == "/patrocinar/" %}
                    <a class="nav-link active">{% trans "Patrocinar pets" %}</a>
                {% else %}                    
                    <a class="nav-link" style="color:#495057" href="/patrocinar/">{% trans "Patrocinar pets" %}</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if request.path == "/meus-patrocinios/" %}
                    <a class="nav-link active">{% trans "Patrocínios feitos" %}</a>
                {% else %}                    
                    <a class="nav-link" style="color:#495057" href="/meus-patrocinios/">{% trans "Patrocínios feitos" %}</a>
                {% endif %}
            </li>
            {% if user.usuario.is_admin_instituicao %}
            <li class="nav-item">
                {% if request.path == "/doacao/lista/" %}
                    <a class="nav-link active">{% trans "Patrocínios recebidos" %}</a>
                {% else %}                   
                    <a class="nav-link" style="color:#495057" href="/doacao/lista/">{% trans "Patrocínios recebidos" %}</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if request.path == "/doacao/cadastro-info-pagamento/" %}
                    <a class="nav-link active">{% trans "Dados do PagSeguro" %}</a>
                {% else %}                   
                    <a class="nav-link" style="color:#495057" href="/doacao/cadastro-info-pagamento/">{% trans "Dados do PagSeguro" %}</a>
                {% endif %}
            </li>
            {% endif %}
        </ul>
    </div>

        <div class="row">
        <p><h3>{% trans "Contribuir" %}</h3></p>
            <div class="col-md-6 mb-0 mb-md-0">
                <div id="mdb-lightbox-ui">
                    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="pswp__scroll-wrap">
                        <div class="pswp__ui pswp__ui--hidden">
                        <div class="pswp__top-bar">
                            <div class="pswp__counter"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Parte esquerda patrocínio pet -->
        <div class="mdb-lightbox" data-pswp-uid="1">
            <div class="row product-gallery">
                <div class="col-12 mb-0">
                    <figure class="view overlay rounded z-depth-1 main-img" style="max-height: 450px ">
                        <a href="/pet-informacao/{{pet.id}}" data-size="710x823">
                            <img src="{{pet.foto.url}}" class="card-img-top w-100" alt="Foto do pet" style="height: 50vh; object-fit: cover;">
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- Parte direita patrocínio pet -->
    <div class="col-md-6">
        <h5 class="text-capitalize">{{pet.nome}}</h5>
        <p class="mb-2 text-muted text-uppercase small">{{instituicao.nome_instituicao|default_if_none:"SEM INSTITUIÇÃO"}}</p>
        <p class="pt-1">{{pet.descricao|default_if_none:"-"}}</p>
        <!-- NAV -->
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                {% if doacao_simples %}
                    <button class="nav-link {% if mostrar_doacao_simples %}active{% endif %}" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" style="color:#495057">{% trans "Doar" %}</button>
                {% endif %}
                {% if doacao_por_categoria %}
                    <button class="nav-link {% if mostrar_doacao_por_categoria %}active{% endif %}" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" style="color:#495057">{% trans "Ajudar" %}</button>
                {% endif %}
                {% if doacao_patrocinio %}
                    <button class="nav-link {% if mostrar_doacao_patrocinio %}active{% endif %}" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" style="color:#495057">{% trans "Patrocinar" %}</button>
                {% endif %}
            </div>
        </nav>
        <!-- / NAV / -->

        <div class="tab-content" id="nav-tabContent">
        <br>
            <div class="tab-pane fade {% if mostrar_doacao_simples %}show active{%endif%}" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                {% if doacao_simples %}
                <!-- CA2 - Doar para este abrigo -->
                <label><h6>{% trans "Doar para "  %} <span class="text-capitalize">{{instituicao.nome_instituicao|default_if_none:"SEM INSTITUIÇÃO"}}</span></h6></label>
                <p>{% trans "Você pode realizar uma doação para a instituição que está tomando conta deste pet." %}</p>
                <p>{% trans "Por favor, selecione a quantidade desejada." %}</p>

                    <!--
                    Então ele é redirecionado para a tela com três valores padrão e um campo para
                    preenchimento de valor: 20 (pré-selecionado), 50, 100 e em branco
                    -->

                <div class="btn-group" role="group" aria-label="Basic example">
                    <form id="doacao_simples_1" enctype="multipart/form-data" action="submit", method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="doacao_simples_input" id="doacao_simples_input" value="20" />
                    </form>
                    <form id="doacao_simples_2_20" enctype="multipart/form-data" action="{{instituicao.doacao_valor_20_link}}" target="_blank">
                        <button id="doacao_simples_btn" onclick="submit_doacao_simples(20)" type="submit" class="btn btn-primary w-100" style="background-color:#fbba00; color:black; font-weight:normal; border-color:gray;">{% trans "Doar R$ 20" %}</button>
                    </form>
                    <form id="doacao_simples_2_50" enctype="multipart/form-data" action="{{instituicao.doacao_valor_50_link}}" target="_blank">
                        <button id="doacao_simples_btn" onclick="submit_doacao_simples(50)" type="submit" class="btn btn-primary w-100" style="background-color:#fbba00; color:black; font-weight:normal; border-color:gray">{% trans "Doar R$ 50" %}</button>
                    </form>
                    <form id="doacao_simples_2_100" enctype="multipart/form-data" action="{{instituicao.doacao_valor_100_link}}" target="_blank">
                        <button id="doacao_simples_btn" onclick="submit_doacao_simples(100)" type="submit" class="btn btn-primary w-100" style="background-color:#fbba00; color:black; font-weight:normal; border-color:gray">{% trans "Doar R$ 100" %}</button>
                    </form>
                </div>
                <br>
                {% endif %}
                <!-- / CA2 - Doar para este abrigo / -->

            </div>
            <div class="tab-pane fade {% if mostrar_doacao_por_categoria %}show active{%endif%}" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                {% if doacao_por_categoria %}
                <!-- CA4 - Ajude este pet -->
                <label><h6>{% trans "Ajude o pet" %}</h6></label>
                <p>{% trans "Você também pode contribuir com os custos mensais do pet." %}</p>
                <p>{% trans "É possível pagar os custos de limpeza, alimentação, medicamentos e diária de internação. E claro, se preferir, pode inclusive pagar por todos esses itens juntos." %}</p>
                    
                    <!--
                    Então ele é redirecionado para a tela com a lista de opções "fixas" escolhidas pelo
                    Abrigo e valor: Limpeza, Alimentação, Medicamentos e Diária de Internação
                    -->
                
                <button type="button" style="background-color:#fbba00; color:black; font-weight:normal; border-color:gray;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ajudar_pet">{% trans "Ajudar o pet" %}</button>
                <br><br>
                {% endif %}
                <!-- / CA4 - Ajude este pet / -->

            </div>
            <div class="tab-pane fade {% if mostrar_doacao_patrocinio %}show active{%endif%}" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                {% if doacao_patrocinio %}
                <!-- CA6 - Patrocine este pet -->
                <label><h6>{% trans "Patrocine o pet" %}</h6></label><br>
                <p>{% trans "Também é possível ajudar o pet cobrindo seus custos mensais definidos pela instituição que está tomando conta dele." %}</p>
                <p>{% trans "Para apoiá-lo, selecione uma das opções abaixo:" %}</p>
                    <!--
                    Então ele é redirecionado para a tela com os custos mensais daquele pet e os períodos
                    de contribuição disponíveis                    
                    -->

                <form id="patrocinio" enctype="multipart/form-data" action="submit", method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="patrocinio" id="patrocinio" value="patrocinio" />
                </form>               
                <form id="patrocinio2" action="https://pagseguro.uol.com.br/pre-approvals/request.html" method="post" target="_blank">
                    <input type="hidden" name="code" value="{{instituicao.doacao_patrocinio_codigo}}" />
                    <input type="hidden" name="iot" value="button" />
                    <button name="patrocinio" id="patrocinio" value="patrocinio" class="btn btn-primary" style="background-color:#FAA307" onclick="submit_patrocinio()">{% trans "Patrocinar" %}</button>
                </form>

                {% endif %}
                <!-- / CA6 - Patrocine este pet / -->

            </div>
        </div>

        <!-- Modal: CA4 - Ajude este pet -->
        <div class="modal fade" id="ajudar_pet" tabindex="-1" aria-labelledby="ajudar_petLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ajudar_petLabel">{% trans "Patrocínio" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">{% trans "Limpeza" %}</th>
                                    <td>R$ {{instituicao.doacao_limpeza_valor|default_if_none:""}}</td>
                                    <td>                            
                                        <form id="limpeza1" enctype="multipart/form-data" action="submit", method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="limpeza" id="limpeza" value="limpeza" />
                                        </form>               
                                        <form id="limpeza2" enctype="multipart/form-data" action="{{instituicao.doacao_limpeza_link}}" target="_blank">
                                            <button name="limpeza" id="limpeza" value="limpeza" class="btn btn-primary" style="background-color:#FAA307" onclick="submit_limpeza()">{% trans "Patrocinar" %}</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{% trans "Alimentação" %}</th>
                                    <td>R$ {{instituicao.doacao_alimentacao_valor|default_if_none:""}}</td>
                                    <td>
                                        <form id="alimentacao1" enctype="multipart/form-data" action="submit", method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="alimentacao" id="alimentacao" value="alimentacao" />
                                        </form>               
                                        <form id="alimentacao2" enctype="multipart/form-data" action="{{instituicao.doacao_alimentacao_link}}" target="_blank">
                                            <button name="alimentacao" id="alimentacao" value="alimentacao" class="btn btn-primary" style="background-color:#FAA307" onclick="submit_alimentacao()">{% trans "Patrocinar" %}</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{% trans "Medicamentos" %}</th>
                                    <td>R$ {{instituicao.doacao_medicamentos_valor|default_if_none:""}}</td>
                                    <td>
                                        <form id="medicamentos1" enctype="multipart/form-data" action="submit", method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="medicamentos" id="medicamentos" value="medicamentos" />
                                        </form>               
                                        <form id="medicamentos2" enctype="multipart/form-data" action="{{instituicao.doacao_medicamentos_link}}" target="_blank">
                                            <button name="medicamentos" id="medicamentos" value="medicamentos" class="btn btn-primary" style="background-color:#FAA307" onclick="submit_medicamentos()">{% trans "Patrocinar" %}</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">{% trans "Diária de internação" %}</th>
                                    <td>R$ {{instituicao.doacao_diaria_internacao_valor|default_if_none:""}}</td>
                                    <td>
                                        <form id="diaria_internacao1" enctype="multipart/form-data" action="submit", method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="diaria_internacao" id="diaria_internacao" value="diaria_internacao" />
                                        </form>               
                                        <form id="diaria_internacao2" enctype="multipart/form-data" action="{{instituicao.doacao_diaria_internacao_link}}" target="_blank">
                                            <button name="diaria_internacao" id="diaria_internacao" value="diaria_internacao" class="btn btn-primary" style="background-color:#FAA307" onclick="submit_diaria_internacao()">{% trans "Patrocinar" %}</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Fechar" %}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Modal: CA4 - Ajude este pet / -->

        <!-- Modal: CA6 - Patrocine este pet -->
        <div class="modal fade" id="patrocinar_pet" tabindex="-1" aria-labelledby="patrocinar_petLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="patrocinar_petLabel">{% trans "Patrocínio" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% trans "patrocinar" %}
                    </div>
                    <div class="modal-footer">
                        <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post" target="_blank">
                            <input type="hidden" name="currency" value="BRL" />
                            <input type="hidden" name="receiverEmail" value="m.augusto.nd@gmail.com" />
                            <input type="hidden" name="iot" value="button" />
                            <button class="btn btn-primary" style="background-color:#FAA307" action="submit">{% trans "Patrocinar" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Modal: CA6 - Patrocine este pet / -->

    </div>
</main>
<br>

{% endblock conteudo %}